body {
  background-color: white;
  margin-bottom: 5%;
}

p {
  font-size: 16px;
  font-family: 'Barlow', sans-serif;
}

#whole-body {
  width: 90%;
  margin-left: 5%;
}

#header-both {
  display: block;
  z-index: 9999;
}

#header-image {
  width: 60%;
  float: left;
  display: block;
  margin-top: 24px;
}

#header-content {
  display: block;
  width: 100%;
  margin: auto;
}

.welcome-info a {
  text-decoration: none;
  color: black;
}

.welcome-info a:hover {
  color: #77bfd2;
}

nav a:hover {
  text-decoration: none;
  color: #77bfd2;
}
.navbar {
  width: 110%;
  display: inline-block;
  font-family: 'Barlow', sans-serif;
  font-size: 1.4vw;
  margin: 0;
  padding: 0;
  margin-top: 24px;
  border-radius: 0;
  list-style-type: none;
  background: #2e2f30;
  position: relative;
  z-index: 1;
}

.navbar li {
  display: inline-block;
}

.navbar a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 15px;
}

.navbar li:hover {
  background: #2e2f30;
  text-decoration: none;
}

.dropdown {
  position: absolute;
  margin-left: 0;
  padding: 0;
  text-align: right;
  background: #2e2f30;
  display: none;
}

#about-dropdown {
  text-align: right;
  margin-left: -12px;
}

#products-dropdown {
  margin-left: -6px;
}

#delivery-dropdown {
  margin-left: 70px;
}

#contact-dropdown {
  margin-left: -94px;
}

.navbar ul li {
  display: block;
  background: #2e2f30;
  border-top: solid 0.4px white;
}

.navbar li:hover ul {
  display: block;
}

.navbar li i {
  color: white;
  float: right;
  padding-left: 20px;
}

.search-top {
  display: block;
  float: right;
  padding-right: 8%;
  margin-right: 5%;
}

.btn:hover {
    background: #77bfd2;
    color: white;
}

#home {
  margin-left: 48px;
}

#content-header {
  font-size: 104px;
  margin-left: 64px;
  margin-top: 36px;
  text-align: left;
  font-family: 'Passion One', cursive;
}

.welcome-info {
  float: right;
  display: block;
  width: 30%;
  font-family: 'Barlow', sans-serif;
  font-size: 16px;
  text-align: center;
  line-height: 8px;
  color: black;
  margin-top: -184px;
  margin-bottom: 12px;
  margin-right: 96px;
}

.welcome-info h6 {
  font-family: 'Passion One', cursive;
  font-size: 28px;
}

.welcome-info a {
  color: #aa5147;
  text-decoration: none;
}

.welcome-info a:hover {
  text-decoration: none;
  color: #77bfd2;
}

.top-follow {
  display: block;
  margin-left: 124px;
}

.top-follow h3 {
  color: #aa5147;
  text-align: center;
  margin-top: 48px;
  font-family: 'Passion One', cursive;
  font-size: 36px;
}

.icons-top {
  border: 2px solid #ddd;
  border-radius: 4px;
  padding: 4px;
  width: 14%;
}

.icons-top:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

#instagram-top {
  margin-left: 90px;
}

#yelp-icon {
  padding: 1px;
}

#border-bottom {
  display: block;
  width: 80%;
  margin: auto;
  border-top: 0.4px solid black;
  margin-top: 4%;
}

#footer-block {
  display: block;
  width: 100%;
  padding-left: 3%;
  margin: auto;
  margin-top: -2%;
}

.footer-links h5 {
  font-family: 'Passion One', cursive;
  font-size: 28px;
}

.footer-links {
  font-family: 'Barlow', sans-serif;
  font-size: 24px;
  float: left;
  display: block;
  margin-top: 12px;
}

.footer-links a {
  text-decoration: none;
  color: black;
}

.footer-links a:hover {
  text-decoration: none;
  color: #77bfd2;
}

#footer-links-left {
  margin-left: 48px;
}

#footer-links-right {
  margin-left: -24px;
}

#footer-image {
  display: block;
  width: 100%;
  margin-top: 36px;
  border-radius: 6px;
}

#footer-image:hover {
  opacity: 0.4;
}

.footer-info {
  margin: auto;
  margin-top: 48px;
  display: block;
  font-family: 'Barlow', sans-serif;
  font-size: 16px;
  text-align: center;
  line-height: 8px;
  color: black;
}

.footer-info h6 {
  color: black;
  font-size: 28px;
  font-family: 'Passion One', cursive;
}

.footer-info a {
  color: #aa5147;
  text-decoration: none;
}

.footer-info a:hover {
  text-decoration: none;
  color: #77bfd2;
}

.bottom-follow {
  display: block;
  margin-left: 36px;
}

.bottom-follow h3 {
  color: #aa5147;
  text-align: center;
  margin-top: -36px;
  font-family: 'Passion One', cursive;
  font-size: 36px;
}

.icons-bottom {
  border: 2px solid #ddd;
  border-radius: 4px;
  padding: 4px;
  width: 9%;
}

.icons-bottom:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

#instagram-bottom {
  margin-left: 178px;
}
