body {
  background-color: white;
  margin-bottom: 5%;
}

p {
  font-size: 16px;
  font-family: 'Barlow', sans-serif;
}

#whole-body {
  width: 90%;
  margin-left: 5%;
}

#header-both {
  display: block;
}

#header-image {
  width: 100%;
  display: block;
}

#header-content {
  display: block;
  width: 100%;
  margin: auto;
}

.container a {
  text-decoration: none;
  color: black;
}

.container a:hover {
  color: #77bfd2;
}

nav a:hover {
  text-decoration: none;
  color: #77bfd2;
}
.navbar {
  width: 110%;
  display: inline-block;
  font-family: 'Barlow', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  border-radius: 0;
  list-style-type: none;
  background: #2e2f30;
  position: relative;
}

.navbar li {
  display: inline-block;
}

.navbar a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 15px;
}

.navbar li:hover {
  background: #2e2f30;
  text-decoration: none;
}

.dropdown {
  position: absolute;
  margin-left: 0;
  padding: 0;
  text-align: right;
  background: #2e2f30;
  display: none;
}

#about-dropdown {
  text-align: right;
  margin-left: -12px;
}

#products-dropdown {
  margin-left: -6px;
}

#delivery-dropdown {
  margin-left: 70px;
}

#contact-dropdown {
  margin-left: -94px;
}

.navbar ul li {
  display: block;
  background: #2e2f30;
  border-top: solid 0.4px white;
}

.navbar li:hover ul {
  display: block;
}

.navbar li i {
  color: white;
  float: right;
  padding-left: 20px;
}

.search-top {
  display: block;
  float: right;
  padding-right: 8%;
  margin-right: 5%;
}

.btn:hover {
    background: #77bfd2;
    color: white;
}

#content-header {
  font-size: 104px;
  margin-left: 172px;
  margin-top: 48px;
  text-align: left;
  font-family: 'Passion One', cursive;
}

.welcome-info {
  float: right;
  display: block;
  font-family: 'Barlow', sans-serif;
  font-size: 16px;
  text-align: center;
  line-height: 8px;
  color: black;
  margin-top: -156px;
  margin-right: 96px;
}

.welcome-info h6 {
  font-family: 'Barlow', sans-serif;
  font-size: 28px;
}

.welcome-info a {
  color: #aa5147;
  text-decoration: none;
}

.welcome-info a:hover {
  text-decoration: none;
  color: #77bfd2;
}

#border {
  display: block;
  width: 80%;
  margin: auto;
  border-top: 0.4px solid black;
  margin-top: 1%;
}

.about-us-block {
  width: 70%;
  display: block;
  margin: auto;
  margin-top: 2%;
}

.about-us-block h3 {
  text-align: center;
  font-family: 'Passion One', cursive;
  font-size: 48px;
}

.about-us-block p {
  margin-top: 24px;
  font-size: 16px;
  font-family: 'Barlow', sans-serif;
}

.about-us-pic {
  width: 80%;
  margin: auto;
  display: block;
  margin-top: 24px;
  border-radius: 4px;
}

#border-middle {
  display: block;
  width: 80%;
  margin: auto;
  border-top: 0.4px solid black;
  margin-top: 4%;
}

.about-body-text {
  display: block;
  width: 45%;
  margin-left: 80px;
}

.about-body-text p {
  margin-top: 24px;
  font-size: 16px;
  font-family: 'Barlow', sans-serif;
}

#block-quote {
  border-top: 0.5px solid black;
  border-bottom: 0.5px solid black;
  margin-top: 24px;
  margin-bottom: 18px;
  padding-bottom: 12px;
}

#yelp-author {
  font-size: 18px;
  font-weight: bold;
  font-family: 'Passion One', cursive;
}

#quote {
  font-size: 24px;
  font-family: 'Yellowtail', cursive;
  text-align: left;
}

.meeting-pic {
  width: 90%;
  display: block;
  margin-top: 24px;
  border-radius: 4px;
}

.about-body-pics {
  width: 40%;
  display: block;
  margin-left: 36px;
}

.about-body-pics img {
  width: 90%;
  display: block;
  margin-top: 24px;
  border-radius: 4px;
}

#forced-to-grow {
  margin-top: 96px;
}



#border-bottom {
  display: block;
  width: 80%;
  margin: auto;
  border-top: 0.4px solid black;
  margin-top: 4%;
}

#footer-block {
  display: block;
  width: 100%;
  padding-left: 3%;
  margin: auto;
  margin-top: -2%;
}

.footer-links h5 {
  font-family: 'Barlow', sans-serif;
  font-size: 28px;
}

.footer-links {
  font-family: 'Barlow', sans-serif;
  font-size: 16px;
  float: left;
  display: block;
  margin-top: 12px;
}

.footer-links a {
  text-decoration: none;
  color: black;
}

.footer-links a:hover {
  text-decoration: none;
  color: #77bfd2;
}

#footer-links-left {
  margin-left: 48px;
}

#footer-links-right {
  margin-left: -24px;
}

#footer-image {
  display: block;
  width: 100%;
  margin-top: 36px;
  border-radius: 6px;
}

#footer-image:hover {
  opacity: 0.4;
}

.footer-info {
  margin: auto;
  margin-top: 24px;
  display: block;
  font-family: 'Barlow', sans-serif;
  font-size: 16px;
  text-align: center;
  line-height: 8px;
  color: black;
}

.footer-info h6 {
  color: black;
  font-size: 28px;
  font-family: 'Barlow', sans-serif;
}

.footer-info a {
  color: #aa5147;
  text-decoration: none;
}

.footer-info a:hover {
  text-decoration: none;
  color: #77bfd2;
}

.bottom-follow {
  display: block;
  margin-top: -24px;
  margin-left: 48px;
}

.bottom-follow h3 {
  color: #aa5147;
  text-align: center;
  margin-top: 48px;
  font-family: 'Passion One', cursive;
  font-size: 32px;
}

.icons-bottom {
  border: 2px solid #ddd;
  border-radius: 4px;
  padding: 4px;
  width: 12%;
}

.icons-bottom:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

#icons-bottom-shift {
  margin-left: 140px;
}

@media screen and (min-width:1441px) {
  .navbar {
    padding-left: 20%;
    padding-right: 20%;
  }
  #header-both{
    width: 80%;
    margin-left: 12%;
  }
  .welcome-info {
    margin-right: 12%;
  }
  .page-content {
    width: 60%;
    margin-left: 22%;
    margin-top: 1%;
  }
  #mango-image {
    width: 25%;
  }
  #border {
    margin-top: 1%;
  }
  .bottom-follow {
    margin-top: -7%;
    margin-left: -2%;
  }
  .icons-bottom {
    width: 7%;
  }
  #icons-bottom-shift {
    margin-left: 40%;
  }
}


@media screen and (min-width:1025px) and (max-width:1440px) {
  .navbar {
    padding-left: 12%;
    padding-right: 8%;
  }
  .bottom-follow {
    margin-top: -5%;
    margin-left: 2%;
  }
  .icons-bottom {
    width: 11%;
  }
  #icons-bottom-shift {
    margin-left: 32%;
  }
}


 @media screen and (min-width:768px) and (max-width:1024px) {
  .navbar {
    padding-left: 4%;
    padding-right: 2%;
    width: 120%;
  }
  #content-header {
    margin-left: 106px;
  }
  .bottom-follow {
    margin-top: -2%;
    margin-left: 5%;
  }
  .icons-bottom {
    width: 14%;
  }
  #icons-bottom-shift {
    margin-left: 25%;
  }
}
