#content-header {
  margin-left: 12px;
}

.delivery-top-block {
  width: 40%;
  display: block;
  margin: auto;
  margin-left: 72px;
  margin-top: 12px;
}

.delivery-top-block h3 {
  font-size: 36px;
  font-family: 'Passion One', cursive;
  text-align: center;
}

.delivery-top-block p {
  margin-top: 12px;
  font-size: 16px;
  font-family: 'Barlow', sans-serif;
}

.delivery-top-block a {
  text-decoration: none;
  color: #aa5147;
}

.delivery-top-block a:hover {
  text-decoration: none;
  color: #77bfd2;
}

.deliveries-pic-block {
  width: 40%;
  display: block;
  margin: auto;
  margin-left: 72px;
  margin-top: 8%;
}

.deliveries-pic {
  width: 100%;
  display: block;
  margin: auto;
  border-radius: 4px;
}

.major-cities {
  margin-top: 24px;
  font-size: 24px;
  font-family: 'Passion One', cursive;
}

.cities-list li {
  font-size: 16px;
  font-family: 'Barlow', sans-serif;
}

.cities-list {
  column-count: 2;
  column-gap: 12px;
}

#border {
  display: block;
  width: 80%;
  margin: auto;
  border-top: 0.4px solid black;
  margin-top: 3%;
}

#border-above-map {
  display: block;
  width: 80%;
  margin: auto;
  border-top: 0.4px solid black;
  margin-top: 4%;
}

.map-block {
  width: 40%;
  margin-left: 76px;
  display: block;
}

.map-block h3 {
  text-align: center;
  font-size: 36px;
  font-family: 'Passion One', cursive;
}

.map-block p {
  font-size: 16px;
  font-family: 'Barlow', sans-serif;
}

.walk-in-block {
  width: 40%;
  display: block;
  margin: auto;
  margin-left: 48px;
}

.walk-in-block h3 {
  text-align: center;
  font-size: 36px;
  font-family: 'Passion One', cursive;
}

.walk-in-block h6 {
  font-size: 24px;
  font-family: 'Passion One', cursive;
}

.walk-in-block p {
  font-size: 16px;
  font-family: 'Barlow', sans-serif;
}

.walk-in-block a {
  text-decoration: none;
  color: #aa5147;
}

.walk-in-block a:hover {
  text-decoration: none;
  color: #77bfd2;
}

.hours {
  line-height: 80%;
}

.walk-in-picture {
  width: 90%;
  display: block;
  margin: auto;
  margin-top: 24px;
  border-radius: 4px;
}


@media screen and (min-width:1441px) {
  #header-image{
    width: 60%;
    margin-top: 36px;
    margin-left: 4%;
  }
  #header-both {
    margin-left: 8%;
  }
  .welcome-info {
    margin-right: 10%;
    margin-top: -372px;
    margin-bottom: 72px;
  }
  .welcome-info h6 {
    font-size: 56px;
  }
  .welcome-info p {
    font-size: 32px;
    line-height: 0.9;
  }
  .navbar {
    padding-left: 20%;
    padding-right: 20%;
  }
  .navbar li {
    font-size: 20px;
  }
  #home {
    margin-left: -24px;
  }
  #content-header {
    font-size: 172px;
    margin-left: 144px;
    margin-top: 48px;
  }
  .top-follow {
    margin-top: 48px;
    margin-left: 256px;
  }
  .top-follow h3 {
    font-size: 56px;
  }
  .icons-top {
    width: 10%;
  }
  #instagram-top {
    margin-left: 256px;
  }
  #whole-body {
    margin-left: 10%;
  }
  #border-top {
    margin-top: 3%;
  }
  .delivery-top-block {
    margin-left: 9%;
  }
  .delivery-top-block h3 {
    font-size: 48px;
  }
  .delivery-top-block p {
    font-size: 24px;
  }
  .delivery-top-block h4 {
    font-size: 36px;
  }
  .delivery-top-block li {
    font-size: 24px;
  }
  .deliveries-pic {
    width: 80%;
    margin-top: -128px;
  }
  .map-block h3 {
    font-size: 48px;
  }
  .map-block {
    margin-left: 9%;
  }
  .walk-in-block h3 {
    font-size: 48px;
  }
  .walk-in-block h6 {
    font-size: 36px;
    margin-left: 5%;
  }
  .walk-in-block p {
    margin-left: 5%;
    width: 90%;
    font-size: 24px;
    line-height: normal;
  }
  .departments-text {
    margin-left: 15%;
  }
  #border {
    margin-top: 1%;
  }
  #border-above-footer {
    margin-top: 1%;
  }
  #footer-block {
    margin-left: 3%;
    margin-top: 3%;
  }
  .footer-links h5 {
    font-size: 48px;
  }
  .footer-links p {
    font-size: 32px;
  }
  .bottom-follow {
    margin-top: -4%;
  }
  .bottom-follow h3 {
    font-size: 48px;
  }
  .icons-bottom {
    width: 7%;
  }
  #instagram-bottom {
    margin-left: 436px;
  }
  .footer-info {
    margin-top: 10%;
  }
  .footer-info h6 {
    font-size: 48px;
  }
  .footer-info p {
    font-size: 32px;
    line-height: 0.9;
  }
}


@media screen and (min-width:1025px) and (max-width:1440px) {
  #header-image {
    margin-top: 24px;
    margin-left: -24px;
  }
  .welcome-info h6 {
    font-size: 38px;
  }
  .welcome-info p {
    font-size: 22px;
    line-height: 0.9;
  }
  .welcome-info {
    margin-top: -264px;
    margin-right: 48px;
  }
  .navbar {
    font-size: 18px;
    padding-left: 10%;
    padding-right: 8%;
  }
  #content-header {
    font-size: 132px;
    margin-left: 56px;
    margin-top: 24px;
  }
  .top-follow h3 {
    font-size: 42px;
  }
  .top-follow {
    margin-top: 0px;
    margin-left: 96px;
  }
  #instagram-top {
    margin-left: 108px
  }
  #whole-body {
    margin-left: 5%;
  }
  #border-top {
    margin-top: 2%;
  }
  .delivery-top-block {
    margin-left: 7%;
  }
  .delivery-top-block h3 {
    font-size: 36px;
  }
  .delivery-top-block p {
    font-size: 18px;
  }
  .delivery-top-block li {
    font-size: 18px;
  }
  .deliveries-pic {
    margin-top: -36px;
  }
  .map-block {
    margin-left: 7%;
  }
  .map-block h3 {
    font-size: 36px;
  }
  .walk-in-block h3 {
    font-size: 36px;
  }
  .walk-in-block p {
    font-size: 18px;
    width: 95%;
  }
  .walk-in-block h6 {
    font-size: 24px;
  }
  .departments-text {
    margin-left: 8%;
  }
  #border-above-footer {
    margin-top: 1%;
  }
  #footer-block {
    margin-top: 12px;
    margin-left: 24px;
  }
  .footer-links h5 {
    font-size: 36px;
  }
  .footer-links p {
    font-size: 24px;
  }
  .rinella-footer-pic {
    margin-left: 48px;
  }
  .footer-info {
    margin-left: 48px;
  }
  .footer-info h6 {
    font-size: 36px;
  }
  .footer-info p {
    font-size: 22px;
    line-height: 0.9;
  }
  .bottom-follow h3 {
    font-size: 36px;
  }
  .bottom-follow {
    margin-top: 2%;
    margin-left: 3%;
  }
  .icons-bottom {
    width: 11%;
  }
  #instagram-bottom {
    margin-left: 204px;
  }
}


@media screen and (min-width:768px) and (max-width:1024px) {
  #whole-body {
    margin-left: 10%;
  }
  #header-image {
    margin-left: 36px;
  }
  .welcome-info {
    margin-right: 16px;
    margin-top: -186px;
  }
  #home {
    margin-left: 36px;
  }
 .search-top {
   padding-right: 2px;
 }
 #content-header {
   font-size: 108px;
   margin-left: 6px;
   margin-top: 24px;
 }
 .top-follow {
   margin-top: -16px;
   margin-left: 132px;
 }
 #border-top {
   margin-top: 2%;
 }
 .departments-text {
   margin-top: -24px;
 }
 #instagram-top {
   margin-left: 80px;
 }
 #border-bottom {
   margin-bottom: 5%;
 }
 #footer-image {
   margin-top:-12px;
 }
 .footer-links h5 {
   margin-top: -24px;
 }
 .bottom-follow {
   margin-top: 3%;
   margin-left: 4%;
 }
 .icons-bottom {
   width: 14%;
 }
 #instagram-bottom {
   margin-left: 108px;
 }
}
