.top-paragraph {
  width: 60%;
  display: block;
  margin-left: 128px;
  font-size: 16px;
  font-family: 'Barlow', sans-serif;
}

.top-contact-info {
  display: block;
  width: 35%;
  margin-left: 102px;
  margin-top: 24px;
}

.top-contact-info h3 {
  font-size: 36px;
  font-family: 'Passion One', cursive;
}

.top-contact-info li {
  font-size: 16px;
  font-family: 'Barlow', sans-serif;
}

.top-contact-info a {
  text-decoration: none;
  color: #aa5147;
}

.top-contact-info a:hover {
  text-decoration: none;
  color: #77bfd2;
}

.icons-top {
  border: 2px solid #ddd;
  border-radius: 4px;
  padding: 4px;
  width: 13%;
}

.icons-top:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

#icons-top {
  margin-left: 30px;
}

.below-contact {
  margin-top: 48px;
}

.contact-image {
  width: 70%;
  display: block;
  border-radius: 6px;
  margin-left: 48px;
  margin-top: 24px;
}

#border-above-credit {
  display: block;
  width: 80%;
  margin: auto;
  border-top: 0.4px solid black;
  margin-top: 4%;
}

.credit-application {
  display: block;
  width: 40%;
  margin-left: 64px;
  margin-top: -48px;
}

.credit-application h3 {
  font-size: 36px;
  font-family: 'Passion One', cursive;
}

.credit-application p {
  font-size: 16px;
  font-family: 'Barlow', sans-serif;
}

.credit-application a {
  text-decoration: none;
  color: #aa5147;
}

.credit-application a:hover {
  text-decoration: none;
  color: #77bfd2;
}

.credit-app-picture {
  width: 75%;
  display: block;
  border-radius: 6px;
  margin-top: 48px;
  margin-left: 24px;
}

.credit-app-picture:hover {
  opacity: 0.4;
}

.hiring-block {
  display: block;
  width: 40%;
  margin-left: 64px;
  margin-top: -48px;
}

.hiring-block h3 {
  font-size: 36px;
  font-family: 'Passion One', cursive;
}

.hiring-block p {
  font-size: 16px;
  font-family: 'Barlow', sans-serif;
}

.hiring-block a {
  text-decoration: none;
  color: #aa5147;
}

.hiring-block li {
  font-size: 16px;
  font-family: 'Barlow', sans-serif;
}

.hiring-block a:hover {
  text-decoration: none;
  color: #77bfd2;
}

.hiring-picture {
  width: 75%;
  display: block;
  border-radius: 6px;
  margin-top: 24px;
  margin-left: 24px;
}

.hiring-picture:hover {
  opacity: 0.4;
}

#border-above-order {
  display: block;
  width: 80%;
  margin: auto;
  border-top: 0.4px solid black;
  margin-top: 4%;
}

.order-block {
  display: block;
  width: 40%;
  margin-left: 72px;
  margin-top: -12px;
}

.order-block h3 {
  font-size: 36px;
  font-family: 'Passion One', cursive;
}

.order-block p {
  font-size: 16px;
  font-family: 'Barlow', sans-serif;
}

.order-block a {
  text-decoration: none;
  color: #aa5147;
}

.order-block a:hover {
  text-decoration: none;
  color: #77bfd2;
}

.order-picture {
  width: 75%;
  display: block;
  border-radius: 6px;
  margin-top: 24px;
  margin-left: 24px;
}

.order-picture:hover {
  opacity: 0.4;
}

.mailing-list-send {
  display: block;
  width: 40%;
  margin-left: 72px;
  margin-top: -12px;
}

.mailing-list-send h3 {
  font-size: 36px;
  font-family: 'Passion One', cursive;
}

.mailing-list-send p {
  font-size: 16px;
  font-family: 'Barlow', sans-serif;
}

.mailing-list-send a {
  text-decoration: none;
  color: #aa5147;
}

.mailing-list-send a:hover{
  text-decoration: none;
  color: #77bfd2;
}

.mailing-picture {
  width: 75%;
  display: block;
  border-radius: 6px;
  margin-top: 24px;
  margin-left: 24px;
}

.mailing-picture:hover {
  opacity: 0.4;
}

/*MAILING LIST FORM*/

/* .mailing-list-block {
  display: block;
  width: 40%;
  margin-left: 72px;
  margin-top: -12px;
}

.mailing-list-block h3 {
  font-size: 36px;
  font-family: 'Passion One', cursive;
}

.mailing-list-block p {
  font-size: 16px;
  font-family: 'Barlow', sans-serif;
}

.mailing-list-block label {
  font-size: 16px;
  font-family: 'Barlow', sans-serif;
}

.subscribe-form {
  margin-top: 24px;
  width: 90%;
  margin-left: 24px;
}

#subscribe-button {
  border: solid 0.6px #a02c2c;
  font-family: 'Barlow', sans-serif;
  font-size: 16px;
}

#subscribe-button:hover {
  border: solid 0.6px #12185b;
} */

#border {
  display: block;
  width: 80%;
  margin: auto;
  border-top: 0.4px solid black;
  margin-top: 3%;
}



/* @media screen and (min-width:1441px) {
  .navbar {
    padding-left: 20%;
    padding-right: 20%;
  }
  #header-both{
    width: 80%;
    margin-left: 12%;
  }
  .welcome-info {
    margin-right: 12%;
  }
  .page-content {
    width: 60%;
    margin-left: 22%;
    margin-top: 1%;
  }
  #mango-image {
    width: 25%;
  }
  #border {
    margin-top: 1%;
  }
  .bottom-follow {
    margin-top: -7%;
    margin-left: -2%;
  }
  .icons-bottom {
    width: 7%;
  }
  #icons-bottom-shift {
    margin-left: 40%;
  }
}


@media screen and (min-width:1025px) and (max-width:1440px) {
  .navbar {
    padding-left: 12%;
    padding-right: 8%;
  }
  .bottom-follow {
    margin-top: -5%;
    margin-left: 2%;
  }
  .icons-bottom {
    width: 11%;
  }
  #icons-bottom-shift {
    margin-left: 32%;
  }
}


 @media screen and (min-width:768px) and (max-width:1024px) {
   #whole-body {
     margin-left: 15%;
   }
   #header-content {
     margin-left: 10%;
   }
  .navbar {
    padding-left: 4%;
    padding-right: 2%;
    width: 120%;
  }
  #about-us {
    margin-left: 7%;
  }
  .search-top {
    padding-right: 4%;
  }
  #content-header {
    margin-left: 72px;
  }
  .bottom-follow {
    margin-top: -2%;
    margin-left: 5%;
  }
  .icons-bottom {
    width: 14%;
  }
  #icons-bottom-shift {
    margin-left: 25%;
  }
} */
