body {
  background-color: white;
  margin-bottom: 5%;
}

p {
  font-size: 1.4vw;
  font-family: 'Barlow', sans-serif;
  color: black;
}

#whole-body {
  width: 90%;
  margin-left: 4%;
}

#header-both {
  display: block;
  z-index: 9999;
}

#header-image {
  width: 70%;
  float: left;
  display: block;
  margin-top: 3%;
  margin-left: -1%;
}

#header-content {
  display: block;
  width: 100%;
  margin: auto;
}

.welcome-info a {
  text-decoration: none;
  color: black;
}

.welcome-info a:hover {
  color: #77bfd2;
}

#payment-graphic {
  width: 23vw;
}

nav a:hover {
  text-decoration: none;
  color: #77bfd2;
}
.navbar {
  width: 102%;
  display: inline-block;
  font-family: 'Passion One', cursive;
  font-size: 1.8vw;
  margin: 0;
  padding: 0;
  margin-top: 1%;
  border-radius: 0;
  list-style-type: none;
  background: black;
  position: relative;
  z-index: 1;
}

.navbar li {
  display: inline-block;
}

.navbar a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 1.2vw;
}

.navbar li:hover {
  background: black;
  text-decoration: none;
}

.dropdown {
  position: absolute;
  margin-left: 0;
  padding: 0;
  text-align: right;
  background: black;
  display: none;
}

#about-dropdown {
  text-align: right;
  margin-left: -1.0vw;
}

#products-dropdown {
  margin-left: -0.5vw;
}

#delivery-dropdown {
  margin-left: 6.8vw;
}

#contact-dropdown {
  margin-left: -9.2vw;
}

.navbar ul li {
  display: block;
  background: black;
  border-top: solid 0.05vw white;
}

.navbar li:hover ul {
  display: block;
}

.navbar li i {
  color: white;
  float: right;
  padding-left: 1.8vw;
}

/* .search-top {
  display: block;
  float: right;
  padding-right: 8%;
  margin-right: 5%;
} */

.btn:hover {
    background: #77bfd2;
    color: white;
}

#home {
  margin-left: 17%;
}

#content-header {
  font-size: 9.4vw;
  margin-left: 10%;
  margin-top: 10%;
  text-align: left;
  font-family: 'Passion One', cursive;
}

.welcome-info {
  float: right;
  display: block;
  width: 30%;
  font-family: 'Barlow', sans-serif;
  font-size: 1.4vw;
  text-align: center;
  line-height: 75%;
  color: black;
  margin-top: -21%;
  margin-bottom: 1%;
  margin-right: 5%;
}

.welcome-info h6 {
  font-family: 'Passion One', cursive;
  font-size: 2.4vw;
}

.welcome-info a {
  color: #aa5147;
  text-decoration: none;
}

.welcome-info a:hover {
  text-decoration: none;
  color: #77bfd2;
}

.top-follow {
  display: block;
  margin-left: 12%;
}

.top-follow h3 {
  color: #aa5147;
  text-align: center;
  margin-top: 15%;
  font-family: 'Passion One', cursive;
  font-size: 3.0vw;
}

.icons-top {
  /* border: 2px solid #ddd; */
  /* border-radius: 4px; */
  padding: .2vw;
  width: 4vw;
}

.icons-top:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

#twitter-icon {
  margin-left: 20%;
}

#yelp-icon {
  padding: 1px;
}

#border-bottom {
  display: block;
  width: 80%;
  margin: auto;
  border-top: 0.05vw solid black;
  margin-top: 4%;
}

#footer-block {
  display: block;
  width: 100%;
  padding-left: 2%;
  margin: auto;
  margin-top: -1%;
}

.footer-links h5 {
  font-family: 'Passion One', cursive;
  font-size: 2.4vw;
}

.footer-links {
  font-family: 'Barlow', sans-serif;
  font-size: 1.8vw;
  float: left;
  display: block;
  margin-top: 1%;
}

.footer-links a {
  text-decoration: none;
  color: black;
}

.footer-links a:hover {
  text-decoration: none;
  color: #77bfd2;
}

#footer-links-left {
  margin-left: 4.8%;
}

#footer-links-right {
  margin-left: -2.4%;
}

#footer-image {
  display: block;
  width: 100%;
  margin-top: 3.6%;
  border-radius: 6px;
}

#footer-image:hover {
  opacity: 0.4;
}

.footer-info {
  margin: auto;
  margin-top: 4.8%;
  display: block;
  font-family: 'Barlow', sans-serif;
  font-size: 1.4vw;
  text-align: center;
  line-height: 90%;
  color: black;
}

.footer-info h6 {
  color: black;
  font-size: 2.4vw;
  font-family: 'Passion One', cursive;
}

.footer-info a {
  color: #aa5147;
  text-decoration: none;
}

.footer-info a:hover {
  text-decoration: none;
  color: #77bfd2;
}

#footer-links-right {
  margin-left: 2%;
}

.mobile-footer {
  display: none;
}

.welcome-info-mobile {
  display: none;
}

.navbar-mobile {
  display: none;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  #header-image {
    margin-top: 4%;
    margin-bottom: -1%;
  }
  #address {
    line-height: 120%;
  }
  .navbar {
    display: none;
  }
  .navbar-mobile {
    width: 102%;
    display: inline-block;
    font-family: 'Passion One', cursive;
    font-size: 1.8vw;
    margin: 0;
    padding: 0;
    margin-top: 1%;
    border-radius: 0;
    list-style-type: none;
    background: black;
    position: relative;
    z-index: 1;
  }

  .navbar-mobile li {
    display: inline-block;
  }

  .navbar-mobile a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 1.2vw;
  }

  .navbar-mobile li:hover {
    background: black;
    text-decoration: none;
  }
  .navbar-mobile ul li {
    display: block;
    background: black;
    border-top: solid 0.05vw white;
  }

  .navbar-mobile li:hover ul {
    display: block;
  }

  .navbar-mobile li i {
    color: white;
    float: right;
    padding-left: 1.8vw;
  }
}

@media screen and (max-width: 767px) {
  #header-image {
    margin-top: 5%;
    margin-bottom: -2%;
  }
  .welcome-info {
    display: none;
  }
  .welcome-info-mobile {
    display: block;
    width: 20%;
    margin-left: 70%;
    margin-top: 3%;
    text-align: center;
  }
  .welcome-info-mobile h6 {
    font-size: 3.2vw;
    font-family: 'Passion One', cursive;
  }
  .welcome-info-mobile p {
    font-size: 2.2vw;
    font-family: 'Barlow', sans-serif;
    line-height: 0;
  }
  .welcome-info-mobile a {
    color: #aa5147;
    text-decoration: none;
  }
  .welcome-info-mobile a:hover {
    text-decoration: none;
    color: #77bfd2;
  }
  .navbar {
    display: none;
  }
  .navbar-mobile {
    width: 102%;
    display: inline-block;
    font-family: 'Passion One', cursive;
    font-size: 1.8vw;
    margin: 0;
    padding: 0;
    margin-top: 1%;
    border-radius: 0;
    list-style-type: none;
    background: black;
    position: relative;
    z-index: 1;
  }

  .navbar-mobile li {
    display: inline-block;
  }

  .navbar-mobile a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 1.2vw;
  }

  .navbar-mobile li:hover {
    background: black;
    text-decoration: none;
  }
  .navbar-mobile ul li {
    display: block;
    background: black;
    border-top: solid 0.05vw white;
  }

  .navbar-mobile li:hover ul {
    display: block;
  }

  .navbar-mobile li i {
    color: white;
    float: right;
    padding-left: 1.8vw;
  }
  .top-follow {
    margin-left: 50%;
    margin-top: -16%;
  }
  .icons-top {
    width: 12%;
  }
  #icons {
    margin-top: -5%;
  }
  #footer-block {
    display: none;
  }
  .mobile-footer {
    display: block;
  }
  .mobile-footer-image {
    width: 80%;
  }
  #mobile-logo {
    width: 100%;
    margin-left: 13%;
  }
  #mobile-footer-links-left {
    margin-left: 3%;
  }
  #mobile-footer-links-right {
    margin-right: 7%;
  }
  .mobile-footer-row {
    display: block;
  }
  .mobile-footer-row h5 {
    font-size: 3.2vw;
  }
  .mobile-footer-row p {
    font-size: 2.2vw;
    line-height: 70%;
  }
  .mobile-footer-info {
    margin-right: -5%;
    margin-top: 13.5px;
    margin-left: 5%;

  }
  .mobile-footer-info h6 {
    font-size: 3.5vw;
    font-family: 'Passion One', cursive;
    color: black;
    margin-top: 3%;
  }
  .mobile-footer-info p {
    font-size: 2.2vw;
    font-family: 'Barlow', sans-serif;
    line-height: 50%;
  }
  .mobile-footer-info a {
    color: #aa5147;
    text-decoration: none;
  }
  .mobile-footer-info a:hover {
    text-decoration: none;
    color: #77bfd2;
  }
}

/*This is for social media icons if we put them on the bottom of the page*/

/* .bottom-follow {
  display: block;
  margin-left: 36px;
}

.bottom-follow h3 {
  color: #aa5147;
  text-align: center;
  margin-top: -36px;
  font-family: 'Passion One', cursive;
  font-size: 36px;
} */

/* .icons-bottom {
  border: 2px solid #ddd;
  border-radius: 4px;
  padding: 4px;
  width: 9%;
}

.icons-bottom:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
} */
