#content-header {
  margin-top: 12px;
}

/*MOBILE STYLING (HIDE)*/
.search-top-mobile {
  display: none;
  margin: auto;
  margin-left: 35%;
}

.mobile-row-1 {
  display: none;
  margin-top: 4%;
}

.mobile-row-2 {
  display: none;
  margin-top: 4%;
}

.mobile-row-3 {
  display: none;
  margin-top: 5%;
}

.mobile-pictures {
  display: block;
  margin: auto;
  width: 90%;
  border-radius: 4px;
}

.mobile-pictures:hover {
  opacity: 0.4;
  text-decoration: none;
}

.mobile-paragraph {
  display: none;
  width: 40%;
  margin: auto;
  margin-left: 7%;
  margin-top: -12px;
}

.mobile-paragraph p {
  font-size: 18px;
  font-family: 'Barlow', sans-serif;
}

.about-us-mobile {
  display: none;
  width: 40%;
  margin: auto;
  margin-left: 36px;
}

.departments-mobile {
  display: none;
  width: 40%;
  margin: auto;
  margin-left: 7%;
}

.products-mobile {
  display: none;
  width: 40%;
  margin: auto;
  margin-left: 36px;
}

.deliveries-ordering-mobile {
  display:none;
  width: 40%;
  margin: auto;
  margin-left: 7%;
}

.contact-employment-mobile {
  display: none;
  width: 40%;
  margin: auto;
  margin-left: 36px;
}


/*DESKTOP STYLING*/
#mango-image {
  float: right;
  width: 50%;
  border-radius: 6px;
  margin-left: 96px;
  margin-top: 12px;
}

.page-content {
  width: 80%;
  margin-left: 10%;
  flex-wrap: wrap;
  font-size: 16px;
  font-family: 'Barlow', sans-serif;
}

#border-top {
  display: block;
  width: 80%;
  margin: auto;
  border-top: 0.4px solid black;
  margin-top: 3%;
}

#block-quote {
  border-top: 0.5px solid black;
  border-bottom: 0.5px solid black;
  width: 45%;
  margin-top: 24px;
  margin-bottom: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
}

#yelp-author {
  font-size: 18px;
  font-weight: bolder;
  font-family: 'Barlow', sans-serif;
}

#quote {
  font-size: 20px;
  font-family: 'Carter One', cursive;
  text-align: left;
}

.mango-caption p {
  float: right;
  text-align: right;
  margin-right: 98px;
  color: white;
  text-decoration: none;
  font-size: 32px;
  font-family: 'Passion One', cursive;
  margin-top: -112px;
}

.mango-object:hover {
  text-decoration: none;
  opacity: 0.4;
}

#border {
  display: block;
  width: 80%;
  margin: auto;
  border-top: 0.4px solid black;
  margin-top: 1%;
}

.col-sm-4 img {
  margin: auto;
  margin-left: 1%;
}

#content-image-boxes {
  display: inline-block;
  width: 100%;
  margin: auto;
}

.col-sm-4 h6 {
  font-size: 24px;
  text-align: center;
  font-family: 'Passion One', cursive;
}

.col-sm-4 p {
  font-size: 16px;
  font-family: 'Barlow', sans-serif;
  text-align: center;
  margin-top: -4px;
}

#hiring-object {
  display: block;
  margin: auto;
  margin-top: -12px;
}

#were-hiring {
  margin-top: 12px;
  margin-left: 8%;
  display: block;
  margin: auto;
  width: 90%;
  border-radius: 4px;
}

#public-image {
  display: block;
  margin: auto;
  width: 100%;
  border-radius: 4px;
  margin-left: 0;
}

#walk-in-object {
  display: block;
  margin: auto;
  margin-top: -12px;
}

#mailing-object {
  display: block;
  margin: auto;
  margin-top: -12px;
}

#mailing-list {
  margin-top: 12px;
  display: block;
  margin: auto;
  width: 90%;
  border-radius: 4px;
}

.picture-links {
  color: black;
  text-decoration: none;
}

#hiring-object:hover {
  opacity: 0.4;
  text-decoration: none;
}

#mailing-object:hover {
  opacity: 0.4;
  text-decoration: none;
}

#walk-in-object:hover {
  opacity: 0.4;
  text-decoration: none;
}

#border-above-map {
  display: block;
  width: 80%;
  margin: auto;
  border-top: 0.4px solid black;
  margin-top: 48px;
}

.row col-sm-6 {
  display: inline-block;
  margin: auto;
  width: 100%;
}

.col-sm-6 {
  display: block;
  width: 45%;
  margin-left: 3%;
  margin-right: 1%;
  margin-top: 24px;
}

.headers-maps-insta {
  color: black;
  font-size: 32px;
  font-family: 'Passion One', cursive;
}

.headers-maps-insta a {
  color: black;
  text-decoration: none;
}

.headers-maps-insta a:hover {
  text-decoration: none;
  color: #77bfd2;
}
#map {
  width: 100%;
  height: 600px;
}

#border-above-footer {
  display: block;
  width: 80%;
  margin: auto;
  border-top: 0.4px solid black;
}

#countup {
  text-align: center;
  margin-top: 24px;
}

#countup h3 {
  font-family: 'Passion One', cursive;
  font-size: 32px;
  color: black;
}
#countup p {
  display: inline-block;
  padding: 3px;
  background: white;
  margin: 0 0 20px;
  border-radius: 3px;
  color: #932322;
  font-family: 'Passion One', cursive;
  font-size: 32px;
}

@media screen and (min-width:1441px) {
  #header-image{
    width: 60%;
    margin-top: 36px;
    margin-left: 4%;
  }
  #header-both {
    margin-left: 8%;
  }
  .welcome-info {
    margin-right: 10%;
    margin-top: -344px;
    margin-bottom: 72px;
  }
  .welcome-info h6 {
    font-size: 56px;
  }
  .welcome-info p {
    font-size: 32px;
    line-height: 0.9;
  }
  .navbar {
    padding-left: 20%;
    padding-right: 20%;
  }
  .navbar li {
    font-size: 20px;
  }
  #home {
    margin-left: -24px;
  }
  #content-header {
    font-size: 172px;
    margin-left: 144px;
    margin-top: 48px;
  }
  .top-follow {
    margin-top: 48px;
  }
  .top-follow h3 {
    font-size: 56px;
  }
  .icons-top {
    width: 10%;
  }
  #instagram-top {
    margin-left: 236px;
  }
  #whole-body {
    margin-left: 10%;
  }
  .page-content {
    width: 80%;
    margin-left: 10%;
    margin-top: 1%;
  }
  .page-content p {
    font-size: 24px;
  }
  #quote {
    font-size: 28px;
  }
  #yelp-author {
    font-size: 26px;
  }
  #mango-image {
    width: 32%;
  }
  #content-image-boxes h6 {
    margin-top: 4%;
    font-size: 48px;
  }
  #content-image-boxes p {
    font-size: 24px;
  }
  #content-image-boxes img {
    width: 70%;
    margin-top: 24px;
  }
  #public-image {
    margin-left: 108px;
  }
  #border-above-map {
    margin-top: 4%;
  }
  .headers-maps-insta {
    font-size: 48px;
  }
  #countup h3 {
    font-size: 48px;
  }
  #countup p {
    font-size: 48px;
  }
  #insta-text {
    font-size: 24px;
  }
  .insta-div {
    width: 40%;
    margin-left: 8%;
  }
  .map-div {
    width: 40%;
  }
  #border {
    margin-top: 1%;
  }
  #border-above-footer {
    margin-top: 1%;
  }
  #footer-block {
    margin-left: 3%;
    margin-top: 3%;
  }
  .footer-links h5 {
    font-size: 48px;
  }
  .footer-links p {
    font-size: 32px;
  }
  .bottom-follow {
    margin-top: -4%;
  }
  .bottom-follow h3 {
    font-size: 48px;
  }
  .icons-bottom {
    width: 7%;
  }
  #instagram-bottom {
    margin-left: 394px;
  }
  .footer-info {
    margin-top: 10%;
  }
  .footer-info h6 {
    font-size: 48px;
  }
  .footer-info p {
    font-size: 32px;
    line-height: 0.9;
  }
}


@media screen and (min-width:1025px) and (max-width:1440px) {
  #header-image {
    margin-top: 24px;
    margin-left: -24px;
  }
  .welcome-info h6 {
    font-size: 38px;
  }
  .welcome-info p {
    font-size: 22px;
    line-height: 0.9;
  }
  .welcome-info {
    margin-top: -264px;
    margin-right: 48px;
  }
  .navbar {
    font-size: 18px;
    padding-left: 10%;
    padding-right: 8%;
  }
  #content-header {
    font-size: 132px;
    margin-left: 56px;
    margin-top: 24px;
  }
  .top-follow h3 {
    font-size: 42px;
  }
  .top-follow {
    margin-top: 18px;
    margin-left: 224px;
  }
  #instagram-top {
    margin-left: 108px
  }
  #whole-body {
    margin-left: 4%;
  }
  .page-content p {
    font-size: 18px;
  }
  #mango-image {
    width: 45%;
  }
  #yelp-author {
    font-size: 20px;
  }
  #content-image-boxes h6 {
    font-size: 36px;
  }
  #content-image-boxes p {
    font-size: 18px;
  }
  #content-image-boxes img {
    margin-top: 24px;
  }
  .headers-maps-insta {
    margin-top: -24px;
    font-size: 36px;
  }
  #insta-text {
    font-size: 18px;
  }
  #countup h3 {
    font-size: 36px;
  }
  #countup p {
    font-size: 36px;
  }
  #footer-block {
    margin-top: 12px;
    margin-left: 24px;
  }
  .footer-links h5 {
    font-size: 36px;
  }
  .footer-links p {
    font-size: 24px;
  }
  .rinella-footer-pic {
    margin-left: 48px;
  }
  .footer-info {
    margin-left: 48px;
  }
  .footer-info h6 {
    font-size: 36px;
  }
  .footer-info p {
    font-size: 22px;
    line-height: 0.9;
  }
  .bottom-follow h3 {
    font-size: 36px;
  }
  .bottom-follow {
    margin-top: 2%;
    margin-left: 3%;
  }
  .icons-bottom {
    width: 11%;
  }
  #instagram-bottom {
    margin-left: 190px;
  }
}

/*<-------SMALL SCREEN DESKTOP VERSION-------->*/


 /* @media screen and (min-width:768px) and (max-width:1024px) {
   #whole-body {
     margin-left: 5%;
   }
   .welcome-info {
     margin-right: 36px;
     margin-top: -196px;
   }
   #home {
     margin-left: 12px;
   }
  .search-top {
    padding-right: 4%;
  }
  #content-header {
    font-size: 108px;
    margin-left: 42px;
    margin-top: 24px;
  }
  .top-follow {
    margin-left: 156px;
  }
  #instagram-top {
    margin-left: 76px;
  }
  #border-above-footer {
    margin-bottom: 5%;
  }
  #footer-image {
    margin-top:-12px;
  }
  .footer-links h5 {
    margin-top: -24px;
  }
  .bottom-follow {
    margin-top: 3%;
    margin-left: 4%;
  }
  .icons-bottom {
    width: 14%;
  }
  #instagram-bottom {
    margin-left: 108px;
  }
} */

/*<--------MOBILE FRIENDLY--------*/

@media screen and (min-width:768px) and (max-width:1024px) {
  #whole-body {
    width: 95%;
  }
  #header-content {
    width: 100%;
    margin: auto;
    margin-left: 0%;
  }
  #header-image {
    margin-top: -24px;
    margin-left: -48px;
  }
  .welcome-info {
    margin-top: -192px;
  }
  .navbar {
    display: none;
  }
  #header-both {
    margin-top: 5%;
    margin-left: 3%;
  }
  #content-header {
    font-size: 116px;
    margin-left: 6%;
    margin-top: 24px;
  }
  #instagram-top {
    margin-left: 84px;
  }
  #border-top {
    width: 60%;
    margin-left: 17%;
    margin-top: 4%;
  }
  .page-content {
    display: none;
  }
  #border {
    display: none;
  }
  #content-image-boxes {
    display: none;
  }
  #border-above-map {
    display: none;
  }
  .third-row {
    display: none;
  }
  .search-top-mobile {
    display: block;
  }
  .mobile-row-1 {
    display: block;
  }
  .mobile-row-2 {
    display: block;
  }
  .mobile-row-3 {
    display: block;
  }
  .mobile-paragraph {
    display: block;
  }
  .about-us-mobile {
    display: block;
  }
  .departments-mobile {
    display: block;
  }
  .products-mobile {
    display: block;
  }
  .deliveries-ordering-mobile {
    display: block;
  }
  .contact-employment-mobile {
    display: block;
  }
  #border-above-footer {
    width: 60%;
    margin-left: 17%;
    margin-top: -7%;
    margin-bottom: 4%;
  }
  #footer-block {
    margin-left: 0px;
  }
  #footer-image {
    margin-top: 12px;
  }
  .footer-links h5 {
    font-size: 32px;
    margin-top: -12px;
  }
  .footer-links p {
    font-size: 18px;
  }
  .bottom-follow {
    margin-top: 4%;
    margin-left: 3%;
  }
  .footer-info h6 {
    font-size: 32px;
  }
  .footer-info p {
    font-size: 18px;
  }
  #icons-bottom {
    width: 14%;
  }
  #instagram-bottom {
    margin-left: 148px;
  }
}
