#border {
  display: block;
  width: 80%;
  margin: auto;
  border-top: 0.4px solid black;
  margin-top: 1%;
}

.about-us-block {
  width: 70%;
  display: block;
  margin: auto;
  margin-top: 2%;
}

.about-us-block h3 {
  text-align: center;
  font-family: 'Passion One', cursive;
  font-size: 48px;
}

.about-us-block p {
  margin-top: 24px;
  font-size: 16px;
  font-family: 'Barlow', sans-serif;
}

.about-us-pic {
  width: 80%;
  margin: auto;
  display: block;
  margin-top: 24px;
  border-radius: 4px;
}

#border-middle {
  display: block;
  width: 80%;
  margin: auto;
  border-top: 0.4px solid black;
  margin-top: 5%;
}

.about-body-text {
  display: block;
  width: 45%;
  margin-left: 72px;
}

.about-body-text p {
  margin-top: 24px;
  font-size: 16px;
  font-family: 'Barlow', sans-serif;
}

#block-quote {
  border-top: 0.5px solid black;
  border-bottom: 0.5px solid black;
  margin-top: 24px;
  margin-bottom: 18px;
  padding-bottom: 12px;
}

#yelp-author {
  font-size: 18px;
  font-weight: bold;
  font-family: 'Passion One', cursive;
}

#quote {
  font-size: 24px;
  font-family: 'Yellowtail', cursive;
  text-align: left;
}

.meeting-pic {
  width: 90%;
  display: block;
  margin-top: 24px;
  border-radius: 4px;
}

.about-body-pics {
  width: 40%;
  display: block;
  margin-left: 36px;
}

.about-body-pics img {
  width: 90%;
  display: block;
  margin-top: 24px;
  border-radius: 4px;
}

#forced-to-grow {
  margin-top: 96px;
}

#countup {
  display: block;
  margin-top: 96px;
  text-align: center;
}

#countup h3 {
  font-family: 'Passion One', cursive;
  font-size: 32px;
  color: black;
  margin-top: 96px;
  margin-right: -12px;
}
#countup p {
  display: inline-block;
  padding: 3px;
  background: white;
  margin: 0 0 20px;
  border-radius: 3px;
  color: #932322;
  font-family: 'Passion One', cursive;
  font-size: 32px;
}


@media screen and (min-width:1441px) {
  .navbar {
    padding-left: 20%;
    padding-right: 20%;
  }
  #header-both{
    width: 80%;
    margin-left: 12%;
  }
  .welcome-info {
    margin-right: 12%;
  }
  .page-content {
    width: 60%;
    margin-left: 22%;
    margin-top: 1%;
  }
  #mango-image {
    width: 25%;
  }
  #border {
    margin-top: 1%;
  }
  .bottom-follow {
    margin-top: -7%;
    margin-left: -2%;
  }
  .icons-bottom {
    width: 7%;
  }
  #icons-bottom-shift {
    margin-left: 40%;
  }
}


@media screen and (min-width:1025px) and (max-width:1440px) {
  .navbar {
    padding-left: 12%;
    padding-right: 8%;
  }
  .bottom-follow {
    margin-top: -5%;
    margin-left: 2%;
  }
  .icons-bottom {
    width: 11%;
  }
  #icons-bottom-shift {
    margin-left: 32%;
  }
}


 @media screen and (min-width:768px) and (max-width:1024px) {
   #whole-body {
     margin-left: 15%;
   }
   #header-content {
     margin-left: 10%;
   }
  .navbar {
    padding-left: 4%;
    padding-right: 2%;
    width: 120%;
  }
  #about-us {
    margin-left: 7%;
  }
  .search-top {
    padding-right: 4%;
  }
  #content-header {
    margin-left: 106px;
  }
  .bottom-follow {
    margin-top: -2%;
    margin-left: 5%;
  }
  .icons-bottom {
    width: 14%;
  }
  #icons-bottom-shift {
    margin-left: 25%;
  }
}
