#content-header {
  margin-top: 7%;
  margin-left: 15%;
}

#border {
  display: block;
  width: 80%;
  margin: auto;
  border-top: 0.05vw solid black;
  margin-top: 3%;
}

.about-us-block {
  width: 70%;
  display: block;
  margin: auto;
  margin-top: 2%;
}

.about-us-block h3 {
  text-align: center;
  font-family: 'Passion One', cursive;
  font-size: 4.0vw;
}

.about-us-block p {
  margin-top: 2%;
  font-size: 1.4vw;
  font-family: 'Barlow', sans-serif;
}

.about-us-pic {
  width: 80%;
  margin: auto;
  display: block;
  margin-top: 2%;
  border-radius: 4px;
}

#border-middle {
  display: block;
  width: 80%;
  margin: auto;
  border-top: 0.05vw solid black;
  margin-top: 5%;
}

.about-body-text {
  display: block;
  width: 45%;
  margin-left: 8%;
}

.about-body-text h3 {
  font-family: 'Passion One', cursive;
  font-size: 2.4vw;
}

.about-body-text p {
  margin-top: 2px;
  font-size: 1.4vw;
  font-family: 'Barlow', sans-serif;
}

.meeting-pic {
  width: 90%;
  display: block;
  margin-top: 8%;
  border-radius: 4px;
}

.about-body-pics {
  width: 40%;
  display: block;
  margin-left: 3%;
}

.about-body-pics img {
  width: 90%;
  display: block;
  margin-top: 5%;
  border-radius: 4px;
}

#countup {
  display: block;
  margin-top: 5%;
  text-align: center;
}

#countup h3 {
  font-family: 'Passion One', cursive;
  font-size: 2.4vw;
  color: black;
  margin-top: 10%;
  margin-right: -1%;
}
#countup p {
  display: inline-block;
  padding: 1%;
  background: white;
  margin: 0 0 2%;
  border-radius: 3px;
  color: #932322;
  font-family: 'Passion One', cursive;
  font-size: 2.4vw;
}

@media screen and (max-width: 767px) {
  p {
    font-size: 2.2vw;
  }
  .about-us-block {
    margin-top: -4%;
  }
  .about-body-text {
    width: 80%;
    margin-left: 10%;
  }
  #history {
    margin-top: -4%;
    font-size: 3.2vw;
  }
  #today {
    margin-top: -4%;
    font-size: 3.2vw;
  }
  #service {
    margin-top: -1%;
    font-size: 3.2vw;
  }
  .meeting-pic {
    width: 50%;
    margin-left: 25%;
  }
  #countup h3 {
    font-size: 3.2vw;
    margin-bottom: 0%;
  }
  #countup p {
    font-size: 3.2vw;
  }
  .about-body-pics {
    width: 100%;
  }
  .about-body-pics img {
    width: 50%;
    margin-left: 22.5%;
  }
}
