
#header-content {
  background-image: url(https://66.media.tumblr.com/ad84dd4ece788c7e725aa521925663f5/tumblr_pgrgd3Yp6P1s72wwgo1_1280.jpg);
  background-size: 100%;
  background-repeat: none;
  background-position: 100% 50%;
  width: 100%;
  height: 320px;
  background-size: 100%;
  padding-bottom: 2%;
  margin-bottom: 0%;
}

#title {
  text-shadow: 3px 3px #932322;
  text-align: center;
  font-family: 'Pacifico', cursive;
  font-size: 96px;
  color: white;
  padding-left: 12px;
}

#established {
  font-family: 'Righteous', cursive;
  text-shadow: none;
  font-size: 24px;
  color: white;
  text-align: center;
}

#slogan {
  text-shadow: none;
  font-family: 'Great Vibes', cursive;
  font-size: 40px;
  color: white;
  text-align: center;
}

#top-right {
  background-color: 	rgb(255,255,255,0.6);
  margin-bottom: 1%;
  margin-right: 2%;
  border: 4px solid white;
  border-radius: 8px;
  float: right;
  padding-bottom: 12px;
}

#header-left {
  margin-top: 39px;
}

.header-info {
  margin: auto;
  display: block;
  font-family: 'Patua One', cursive;
  font-size: 16px;
  text-align: center;
  line-height: 8px;
  color: black;
}

.header-info h6 {
  font-size: 20px;
  font-family: 'Righteous', cursive;
}

.icons-top {
  border: 2px solid #ddd;
  border-radius: 4px;
  padding: 4px;
  width: 14%;
}

.icons-top:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

#twitter-icon {
  margin-left: 20%;
}

#yelp-icon {
  margin-right: 15%;
}

.navbar {
  display: block;
  overflow: hidden;
  width: 100%;
  background-color: #4e9199;
  font-family: 'Ranga', cursive;
  font-size: 24px;
  border: 1px solid #4e9199;
  border-radius: 0px;
  padding-left: 8%;
}

.navbar a {
  display: block;
  float: center;
  text-align: center;
}

.affix {
    top: 0;
    width: 100%;
    z-index: 9999;
}

.affix + .container-fluid {
    padding-top: 70px;
}

.navbar-brand {
  font-family: 'Ranga', cursive;
  font-size: 24px;
}

#map {
  width: 100%;
  height: 600px;
}

#footer-block {
  display: block;
  width: 80%;
  margin: auto;
  padding-left: 3%;
  margin-top: 36px;
  border-top: 3px solid black;
}

.footer-links h5 {
  font-size: 18px;
}

.footer-links {
  font-size: 14px;
  float: left;
  display: block;
  margin-top: 36px;
}

#footer-image {
  display: block;
  width: 110%;
  margin-top: 36px;
  border-radius: 6px;
  margin-left: 24px;
}

.footer-info {
  margin: auto;
  display: block;
  font-family: 'Patua One', cursive;
  font-size: 16px;
  text-align: center;
  line-height: 8px;
  color: black;
}

.footer-info h6 {
  font-size: 20px;
  font-family: 'Righteous', cursive;
}

.bottom-follow {
  display: block;
  padding-right: 10%;;
  float: right;
  text-align: center;
}

.icons-bottom {
  border: 2px solid #ddd;
  border-radius: 4px;
  padding: 4px;
  width: 10%;
}

.icons-bottom:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

#countup {
    text-align: center;
}
#countup p {
    display: inline-block;
    padding: 10px;
    background: white;
    margin: 0 0 20px;
    border: 1px solid #932322;
    border-radius: 3px;
    color: #932322;
    font-family:  'Ranga', cursive;
    font-size: 24px;
    min-width: 2.6rem;
}
