
#border {
  display: block;
  width: 80%;
  margin: auto;
  border-top: 0.4px solid black;
  margin-top: 3%;
}

.departments-picture {
  width: 50%;
  margin: auto;
  display: block;
  border-radius: 4px;
  margin-top: 2%;
}

#border-below-pic {
  display: block;
  width: 80%;
  margin: auto;
  border-top: 0.4px solid black;
  margin-top: 4%;
}

.departments-text a {
  text-decoration: none;
  color: #aa5147;
}

.departments-text a:hover {
  text-decoration: none;
  color: #77bfd2;
}

.management {
  width: 40%;
  margin-left: 96px;
}

.management h3 {
  font-size: 36px;
  font-family: 'Passion One', cursive;
}

.management p {
  font-size: 16px;
  font-family: 'Barlow', sans-serif;
  line-height: 80%;
}

.note {
  color: #a02c2c;
}

.sales {
  width: 40%;
  margin-left: 48px;
}

.sales h3 {
  font-size: 36px;
  font-family: 'Passion One', cursive;
}

.sales p {
  font-size: 16px;
  font-family: 'Barlow', sans-serif;
  line-height: 80%;
}

.other-department {
  width: 40%;
  display: block;
  margin: auto;
  margin-left: 96px;
  margin-top: 2%;
}

.other-department h3 {
  font-size: 36px;
  font-family: 'Passion One', cursive;
}

.other-department p {
  font-size: 16px;
  font-family: 'Barlow', sans-serif;
  line-height: 80%;
}

.fourth-block {
  width: 40%;
  display: block;
}

.second-department-pic {
  width: 80%;
  border-radius: 4px;
  margin-top: 48px;
  margin-left: 58px;
}


/* @media screen and (min-width:1441px) {
  .navbar {
    padding-left: 20%;
    padding-right: 20%;
  }
  #header-both{
    width: 80%;
    margin-left: 12%;
  }
  .welcome-info {
    margin-right: 12%;
  }
  .page-content {
    width: 60%;
    margin-left: 22%;
    margin-top: 1%;
  }
  #mango-image {
    width: 25%;
  }
  #border {
    margin-top: 1%;
  }
  .bottom-follow {
    margin-top: -7%;
    margin-left: -2%;
  }
  .icons-bottom {
    width: 7%;
  }
  #icons-bottom-shift {
    margin-left: 40%;
  }
}


@media screen and (min-width:1025px) and (max-width:1440px) {
  .navbar {
    padding-left: 12%;
    padding-right: 8%;
  }
  .bottom-follow {
    margin-top: -5%;
    margin-left: 2%;
  }
  .icons-bottom {
    width: 11%;
  }
  #icons-bottom-shift {
    margin-left: 32%;
  }
}


@media screen and (min-width:768px) and (max-width:1024px) {
  #whole-body {
    margin-left: 5%;
  }
  .welcome-info {
    margin-right: 36px;
    margin-top: -196px;
  }
  #home {
    margin-left: 12px;
  }
 .search-top {
   padding-right: 4%;
 }
 #content-header {
   font-size: 108px;
   margin-left: 42px;
   margin-top: 24px;
 }
 .top-follow {
   margin-left: 156px;
 }
 #instagram-top {
   margin-left: 76px;
 }
 #border-above-footer {
   margin-bottom: 5%;
 }
 #footer-image {
   margin-top:-12px;
 }
 .footer-links h5 {
   margin-top: -24px;
 }
 .bottom-follow {
   margin-top: 3%;
   margin-left: 4%;
 }
 .icons-bottom {
   width: 14%;
 }
 #instagram-bottom {
   margin-left: 108px;
 }
}
