

/*MOBILE STYLING (HIDE)*/
.search-top-mobile {
  display: none;
  margin: auto;
  margin-left: 35%;
}

.mobile-row-1 {
  display: none;
  margin-top: 4%;
}

.mobile-row-2 {
  display: none;
  margin-top: 4%;
}

.mobile-row-3 {
  display: none;
  margin-top: 5%;
}

.mobile-pictures {
  display: block;
  margin: auto;
  width: 90%;
  border-radius: 4px;
}

.mobile-pictures:hover {
  opacity: 0.4;
  text-decoration: none;
}

.mobile-paragraph {
  display: none;
  width: 40%;
  margin: auto;
  margin-left: 7%;
  margin-top: -12px;
}

.mobile-paragraph p {
  font-size: 18px;
  font-family: 'Barlow', sans-serif;
}

.about-us-mobile {
  display: none;
  width: 40%;
  margin: auto;
  margin-left: 36px;
}

.departments-mobile {
  display: none;
  width: 40%;
  margin: auto;
  margin-left: 7%;
}

.products-mobile {
  display: none;
  width: 40%;
  margin: auto;
  margin-left: 36px;
}

.deliveries-ordering-mobile {
  display:none;
  width: 40%;
  margin: auto;
  margin-left: 7%;
}

.contact-employment-mobile {
  display: none;
  width: 40%;
  margin: auto;
  margin-left: 36px;
}


/*DESKTOP STYLING*/
#mango-image {
  float: right;
  width: 50%;
  border-radius: 6px;
  margin-left: 8%;
}

.page-content {
  width: 80%;
  margin-left: 10%;
  flex-wrap: wrap;
  font-size: 1.4vw;
  font-family: 'Barlow', sans-serif;
}

#border-top {
  display: block;
  width: 80%;
  margin: auto;
  border-top: 0.05vw solid black;
  margin-top: 3%;
}

#block-quote {
  border-top: 0.4px solid black;
  border-bottom: 0.4px solid black;
  width: 45%;
  margin-top: 2.4%;
  margin-bottom: 2.4%;
  padding-top: 1.2%;
  padding-bottom: 1.2%;
}

#yelp-author {
  font-size: 1.2vw;
  font-weight: bolder;
  font-family: 'Barlow', sans-serif;
}

#quote {
  font-size: 1.5vw;
  font-family: 'Carter One', cursive;
  text-align: left;
}

.mango-object:hover {
  text-decoration: none;
  opacity: 0.4;
}

#border {
  display: block;
  width: 80%;
  margin: auto;
  border-top: 0.05vw solid black;
  margin-top: 1%;
}

.col-sm-4 img {
  margin: auto;
  margin-left: 1%;
}

#content-image-boxes {
  display: inline-block;
  width: 100%;
  margin: auto;
}

.col-sm-4 h6 {
  font-size: 2.0vw;
  text-align: center;
  font-family: 'Passion One', cursive;
}

.col-sm-4 p {
  font-size: 1.4vw;
  font-family: 'Barlow', sans-serif;
  text-align: center;
  margin-top: -1%;
}

#mailing-object {
  display: block;
  margin: auto;
  margin-top: -1%;
}

#mailing-list {
  margin-top: 2%;
  margin-left: 8%;
  display: block;
  margin: auto;
  width: 90%;
  border-radius: 4px;
}

#public-image {
  display: block;
  margin: auto;
  width: 100%;
  border-radius: 4px;
  margin-left: 0;
}

#walk-in-object {
  display: block;
  margin: auto;
  margin-top: -1%;
}

#hiring-object {
  display: block;
  margin: auto;
  margin-top: -1%;
}

#were-hiring {
  margin-top: 2%;
  display: block;
  margin: auto;
  width: 90%;
  border-radius: 4px;
}

.picture-links {
  color: black;
  text-decoration: none;
}

#hiring-object:hover {
  opacity: 0.4;
  text-decoration: none;
}

#mailing-object:hover {
  opacity: 0.4;
  text-decoration: none;
}

#walk-in-object:hover {
  opacity: 0.4;
  text-decoration: none;
}

#border-above-map {
  display: block;
  width: 80%;
  margin: auto;
  border-top: 0.4px solid black;
  margin-top: 3%;
}

.row col-sm-6 {
  display: inline-block;
  margin: auto;
  width: 100%;
}

.col-sm-6 {
  display: block;
  width: 45%;
  margin-left: 3%;
  margin-right: 1%;
  margin-top: -1%;
}

.headers-maps-insta {
  color: black;
  font-size: 2.4vw;
  font-family: 'Passion One', cursive;
}

.headers-maps-insta a {
  color: black;
  text-decoration: none;
}

.headers-maps-insta a:hover {
  text-decoration: none;
  color: #77bfd2;
}
#map {
  width: 100%;
  height: 600px;
}

#border-above-footer {
  display: block;
  width: 80%;
  margin: auto;
  border-top: 0.05vw solid black;
}

#countup {
  text-align: center;
  margin-top: 2.0vw;
}

#countup h3 {
  font-family: 'Passion One', cursive;
  font-size: 2.4vw;
  color: black;
}
#countup p {
  display: inline-block;
  padding: 1%;
  background: white;
  margin: 0 0 1.8%;
  border-radius: 3px;
  color: #932322;
  font-family: 'Passion One', cursive;
  font-size: 2.4vw;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  #mango-image {
    width: 40%;
  }
}

@media screen and (max-width: 767px) {
  p {
    font-size: 2.2vw;
  }
  #quote {
    font-size: 2.2vw;
  }
  #yelp-author {
    font-size: 2.2vw;
  }
  #mango-image {
    margin-top: 13%;
    width: 50%;
  }
  #content-image-boxes {
    width: 100%;
    display: block;
  }
  #content-image-boxes h6 {
    font-size: 3.6vw;
  }
  #content-image-boxes p {
    font-size: 2.2vw;
    margin-top: -1.2vw;
    text-align: left;
    line-height: 120%;
  }
  #mailing-object {
    width: 60%;
    margin-top: -5%;
  }
  #walk-in-object {
    width: 60%;
    margin-top: 5%;
  }
  #hiring-object {
    width: 60%;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  .third-row {
    width: 100%;
    display: block;
  }
  .insta-div {
    width: 80%;
    margin-left: 15%;
  }
  .headers-maps-insta {
    font-size: 3.6vw;
  }
  #countup {
    margin-left: 5%;
    margin-top: -5%;
  }
  #countup h3 {
    font-size: 3.6vw;
    margin-bottom: -1%;
  }
  #countup p {
    line-height: 70%;
    font-size: 3.6vw;
  }
  .map-div {
    width: 80%;
    margin-left: 15%;
    margin-top: 8%;
    margin-bottom: -5%;
  }
}
