body {
  background-color: white;
  margin-bottom: 5%;
}

p {
  font-size: 16px;
  font-family: 'Barlow', sans-serif;
}

#whole-body {
  width: 90%;
  margin-left: 48px;
}
#header-both {
  display: block;
}

#header-content {
  background-image: url(https://66.media.tumblr.com/6b5b9db79853359a5210767324d38339/tumblr_phy9yi82x21s72wwgo1_1280.jpg);
  background-size: 100%;
  background-repeat: none;
  background-position: 0% 90%;
  opacity: 0.95;
  width: 100%;
  height: 320px;
  background-size: 100%;
  padding-bottom: 2%;
  margin-bottom: 0%;
}

#established {
  font-family: 'Passion One', cursive;
  text-shadow: none;
  margin-top: 164px;
  font-size: 32px;
  color: #aa5147;
  text-align: center;
}

#slogan {
  margin-top:8px;
  text-shadow: none;
  font-family: 'Pacifico', cursive;
  font-size: 36px;
  color: #77bfd2;
  text-align: center;
  padding-left: 16px;
}

.container a {
  text-decoration: none;
  color: black;
}

.container a:hover {
  text-decoration: none;
  color: #77bfd2;
}

nav a:hover {
  text-decoration: none;
  color: #77bfd2;
}

.navbar {
  width: 110%;
  display: inline-block;
  font-family: 'Barlow', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  border-radius: 0;
  padding-left: 56px;
  list-style-type: none;
  background: #2e2f30;
  position: relative;
}

ul li {
  display: inline-block;
}

ul li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 15px;
}

ul li:hover {
  background: #2e2f30;
  text-decoration: none;
}

.dropdown {
  position: absolute;
  margin-left: 0;
  padding: 0;
  text-align: right;
  background: #2e2f30;
  display: none;
}

#about-dropdown {
  text-align: right;
}

#products-dropdown {
  margin-left: 3px;
}

#delivery-dropdown {
  margin-left: 80px;
}

#contact-dropdown {
  margin-left: -88px;
}

ul ul li {
  display: block;
  background: #2e2f30;
  border-top: solid 0.4px white;
}

ul li:hover ul {
  display: block;
}

ul li i {
  color: white;
  float: right;
  padding-left: 20px;
}

.search-top {
  display: block;
  float: right;
  padding-right: 56px;
  margin-right: 48px;
}

.btn:hover {
    background: #77bfd2;
    color: white;
}

.welcome-info {
  float: right;
  display: block;
  width: 35%;
  font-family: 'Barlow', sans-serif;
  font-size: 16px;
  text-align: center;
  line-height: 8px;
  color: black;
  margin-top: -156px;
  margin-right: 36px;
}

.welcome-info h6 {
  font-family: 'Barlow', sans-serif;
  font-size: 28px;
}

.welcome-info a {
  color: #aa5147;
  text-decoration: none;
}

.welcome-info a:hover {
  text-decoration: none;
  color: #77bfd2;
}

#mango-image {
  float: right;
  width: 40%;
  border-radius: 6px;
  margin-left: 48px;
  margin-top: 18px;
  margin-bottom: 18px;
}

.page-content {
  flex-wrap: wrap;
  font-size: 16px;
  font-family: 'Barlow', sans-serif;
}

#content-header {
  font-size: 104px;
  margin-left: 48px;
  margin-top: 48px;
  text-align: left;
  font-family: 'Passion One', cursive;
}

#border-top {
  display: block;
  width: 80%;
  margin: auto;
  border-top: 0.4px solid black;
  margin-top: 24px;
}

#block-quote {
  border-top: 0.5px solid black;
  border-bottom: 0.5px solid black;
  width: 50%;
  margin-top: 14px;
  margin-bottom: 14px;
  padding-top: 12px;
  padding-bottom: 12px;
}

#yelp-author {
  font-size: 20px;
  font-weight: bold;
  font-family: 'Passion One', cursive;
}

#quote {
  font-size: 18px;
  font-family: 'Oleo Script', cursive;
  text-align: left;
}

.mango-caption p {
  float: right;
  text-align: right;
  margin-right: 98px;
  color: white;
  text-decoration: none;
  font-size: 32px;
  font-family: 'Passion One', cursive;
  margin-top: -112px;
}

.mango-object:hover {
  text-decoration: none;
  opacity: 0.4;
  z-index: 9998;
}

#border {
  display: block;
  width: 80%;
  margin: auto;
  border-top: 0.4px solid black;
  margin-top: 24px;
}

.col-sm-4 img {
  margin: auto;
  margin-left: 1%;
}

#content-image-boxes {
  display: inline-block;
  width: 100%;
  margin: auto;
}

.col-sm-4 h6 {
  font-size: 24px;
  text-align: center;
  font-family: 'Passion One', cursive;
}

.col-sm-4 p {
  font-size: 16px;
  font-family: 'Barlow', sans-serif;
  text-align: center;
  margin-top: -4px;
}

#hiring-object {
  display: block;
  margin: auto;
  margin-top: -12px;
}

#were-hiring {
  margin-top: 12px;
  margin-left: 8%;
  display: block;
  margin: auto;
  width: 90%;
  border-radius: 4px;
}

#public-image {
  display: block;
  margin: auto;
  width: 100%;
  border-radius: 4px;
  margin-left: 0;
}

#walk-in-object {
  display: block;
  margin: auto;
  margin-top: -12px;
}

#mailing-object {
  display: block;
  margin: auto;
  margin-top: -12px;
}

#mailing-list {
  margin-top: 12px;
  display: block;
  margin: auto;
  width: 90%;
  border-radius: 4px;
}

.picture-links {
  color: black;
  text-decoration: none;
}

#hiring-object:hover {
  opacity: 0.4;
  text-decoration: none;
}

#mailing-object:hover {
  opacity: 0.4;
  text-decoration: none;
}

#walk-in-object:hover {
  opacity: 0.4;
  text-decoration: none;
}

#border-above-map {
  display: block;
  width: 80%;
  margin: auto;
  border-top: 0.4px solid black;
  margin-top: 48px;
}

.row col-sm-6 {
  display: inline-block;
  margin: auto;
  width: 100%;
}

.col-sm-6 {
  display: block;
  width: 45%;
  margin-left: 3%;
  margin-right: 1%;
  margin-top: 24px;
}

.headers-maps-insta {
  color: black;
  font-size: 32px;
  font-family: 'Passion One', cursive;
}

.headers-maps-insta a {
  color: black;
  text-decoration: none;
}

.headers-maps-insta a:hover {
  text-decoration: none;
  color: #77bfd2;
}
#map {
  width: 100%;
  height: 600px;
}

#border {
  display: block;
  width: 80%;
  margin: auto;
  border-top: 0.4px solid black;
}

#footer-block {
  display: block;
  width: 100%;
  padding-left: 3%;
  margin: auto;
  margin-top: 18px;
  margin-left: 3%;
}

.footer-links h5 {
  font-family: 'Barlow', sans-serif;
  font-size: 28px;
}

.footer-links {
  font-family: 'Barlow', sans-serif;
  font-size: 16px;
  float: left;
  display: block;
  margin-top: 12px;
}

.footer-links a {
  text-decoration: none;
  color: black;
}

.footer-links a:hover {
  text-decoration: none;
  color: #77bfd2;
}

#footer-links-left {
  margin-left: 48px;
}

#footer-links-right {
  margin-left: -24px;
}

#footer-image {
  display: block;
  width: 100%;
  margin-top: 36px;
  border-radius: 6px;
}

#footer-image:hover {
  opacity: 0.4;
}

.footer-info {
  margin: auto;
  margin-top: 24px;
  display: block;
  font-family: 'Barlow', sans-serif;
  font-size: 16px;
  text-align: center;
  line-height: 8px;
  color: black;
}

.footer-info h6 {
  color: black;
  font-size: 28px;
  font-family: 'Barlow', sans-serif;
}

.footer-info a {
  color: #77bfd2;
  text-decoration: none;
}

.footer-info a:hover {
  text-decoration: none;
  color: #aa5147;
}

.bottom-follow {
  display: block;
  margin-top: -24px;
  margin-left: 48px;
}

.bottom-follow h3 {
  color: #aa5147;
  text-align: center;
  margin-top: 36px;
  font-family: 'Passion One', cursive;
  font-size: 32px;
}

.icons-bottom {
  border: 2px solid #ddd;
  border-radius: 4px;
  padding: 4px;
  width: 13%;
}

.icons-bottom:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

#icons-bottom-shift {
  margin-left: 156px;
}

#countup {
  text-align: center;
  margin-top: 24px;
}

#countup h3 {
  font-family: 'Passion One', cursive;
  font-size: 32px;
  color: black;
}
#countup p {
  display: inline-block;
  padding: 3px;
  background: white;
  margin: 0 0 20px;
  border-radius: 3px;
  color: #932322;
  font-family: 'Barlow', sans-serif;
  font-size: 18px;
}

@media screen and (max-width: 768px) {
  #content-header {
    margin-left: 0px;
    float: left;
    margin-right: 48px;
  }



  #hiring-object {
    margin-left: 48px;
  }

};
