#border {
  display: block;
  width: 80%;
  margin: auto;
  border-top: 0.4px solid black;
  margin-top: 1%;
}

.products {
  display: block;
  width: 40%;
  margin: auto;
  margin-left: 72px;
}

.products h3 {
  text-align: center;
  font-size: 36px;
  font-family: 'Passion One', cursive;
}

.products p {
  font-size: 16px;
  font-family: 'Barlow', sans-serif;
}

.products a {
  text-decoration: none;
  color: #aa5147;
}

.products a:hover {
  text-decoration: none;
  color: #77bfd2;
}

.tomatoes-pic {
  width: 90%;
  display: block;
  margin: auto;
  margin-left: 72px;
  margin-top: 3%;
  border-radius: 4px;
}

#border-above-lists {
  display: block;
  width: 80%;
  margin: auto;
  border-top: 0.4px solid black;
  margin-top: 5%;
}

/* .produce-list {
  width: 30%;
  display: block;
  margin-left: 40px;
}

.produce-list h6 {
  text-align: center;
  font-size: 28px;
  font-family: 'Passion One', cursive;
}

#produce-pic {
  width: 80%;
  display: block;
  border-radius: 4px;
  margin: auto;
  margin-top: 24px;
} */

.canned-goods-list {
  width: 40%;
  display: block;
  margin-left: 72px;
}

.canned-goods-list h6 {
  text-align: center;
  font-size: 28px;
  font-family: 'Passion One', cursive;
}

#canned-goods-pic {
  width: 80%;
  display: block;
  border-radius: 4px;
  margin: auto;
  margin-top: 24px;
}

.frozen-list {
  width: 40%;
  display: block;
  margin-left: 48px;
}

.frozen-list h6 {
  text-align: center;
  font-size: 28px;
  font-family: 'Passion One', cursive;
}

#frozen-pic {
  width: 80%;
  display: block;
  border-radius: 4px;
  margin: auto;
  margin-top: 24px;
}

#border-above-prices {
  display: block;
  width: 80%;
  margin: auto;
  border-top: 0.4px solid black;
  margin-top: 5%;
}

.price-block {
  width: 40%;
  display: block;
  margin-left: 72px;
}

.price-block h3 {
  text-align: center;
  font-size: 28px;
  font-family: 'Passion One', cursive;
}

.price-block p {
  font-size: 16px;
  font-family: 'Barlow', sans-serif;
}

.price-block a {
  text-decoration: none;
  color: #aa5147;
}

.price-block a:hover {
  text-decoration: none;
  color: #77bfd2;
}

#prices-pic {
  width: 80%;
  display: block;
  border-radius: 4px;
  margin: auto;
  margin-top: 24px;
  border: 2px solid #aa5147;
}

.prep-block {
  width: 40%;
  display: block;
  margin-left: 48px;
}

.prep-block h3 {
  text-align: center;
  font-size: 28px;
  font-family: 'Passion One', cursive;
}

.prep-block p {
  text-align: left;
  font-size: 16px;
  font-family: 'Barlow', sans-serif;
}

#prep-pic {
  width: 80%;
  display: block;
  border-radius: 4px;
  margin: auto;
  margin-top: 24px;
}

#border-above-specials {
  display: block;
  width: 80%;
  margin: auto;
  border-top: 0.4px solid black;
  margin-top: 5%;
}

.specials-block {
  width: 40%;
  display: block;
  margin: auto;
}

.specials-block h3 {
  text-align: center;
  font-size: 28px;
  font-family: 'Passion One', cursive;
}

.specials-block p {
  font-size: 16px;
  font-family: 'Barlow', sans-serif;
}

.flyer-one-block {
  display: block;
  width: 30%;
  margin: auto;
  margin-left: 48px;
}

#flyer-one-pic {
  display: block;
  width: 80%;
  border-radius: 4px;
  margin: auto;
  margin-top: 24px;
  border: 2px solid #aa5147;
}

.flyer-two-block {
  display: block;
  width: 30%;
  margin: auto;
}

#flyer-two-pic {
  display: block;
  width: 80%;
  border-radius: 4px;
  margin: auto;
  margin-top: 24px;
  border: 2px solid #aa5147;
}

.flyer-three-block {
  display: block;
  width: 30%;
  margin: auto;
}

#flyer-three-pic {
  display: block;
  width: 80%;
  border-radius: 4px;
  margin: auto;
  margin-top: 24px;
  border: 2px solid #aa5147;
}

.pics-hover:hover {
  opacity: 0.4;
}


@media screen and (min-width:1441px) {
  .navbar {
    padding-left: 20%;
    padding-right: 20%;
  }
  #header-both{
    width: 80%;
    margin-left: 12%;
  }
  .welcome-info {
    margin-right: 12%;
  }
  .page-content {
    width: 60%;
    margin-left: 22%;
    margin-top: 1%;
  }
  #mango-image {
    width: 25%;
  }
  #border {
    margin-top: 1%;
  }
  .bottom-follow {
    margin-top: -7%;
    margin-left: -2%;
  }
  .icons-bottom {
    width: 7%;
  }
  #icons-bottom-shift {
    margin-left: 40%;
  }
}


@media screen and (min-width:1025px) and (max-width:1440px) {
  .navbar {
    padding-left: 12%;
    padding-right: 8%;
  }
  .bottom-follow {
    margin-top: -5%;
    margin-left: 2%;
  }
  .icons-bottom {
    width: 11%;
  }
  #icons-bottom-shift {
    margin-left: 32%;
  }
}


 @media screen and (min-width:768px) and (max-width:1024px) {
   #whole-body {
     margin-left: 15%;
   }
   #header-content {
     margin-left: 10%;
   }
  .navbar {
    padding-left: 4%;
    padding-right: 2%;
    width: 120%;
  }
  #about-us {
    margin-left: 7%;
  }
  .search-top {
    padding-right: 4%;
  }
  #content-header {
    margin-left: 72px;
  }
  .bottom-follow {
    margin-top: -2%;
    margin-left: 5%;
  }
  .icons-bottom {
    width: 14%;
  }
  #icons-bottom-shift {
    margin-left: 25%;
  }
}
