#header-content {
  margin-left: 2%;
}
#content-header {
  margin-top: 7%;
  margin-left: 15%;
}

#border {
  display: block;
  width: 80%;
  margin: auto;
  border-top: 0.05vw solid black;
  margin-top: 3%;
}

.products {
  display: block;
  width: 40%;
  margin: auto;
  margin-left: 10%;
}

.products h3 {
  text-align: center;
  font-size: 2.4vw;
  font-family: 'Passion One', cursive;
}

.products p {
  font-size: 1.4vw;
  font-family: 'Barlow', sans-serif;
}

.products a {
  text-decoration: none;
  color: #aa5147;
}

.products a:hover {
  text-decoration: none;
  color: #77bfd2;
}

.tomatoes-pic {
  width: 90%;
  display: block;
  margin: auto;
  margin-left: 7%;
  margin-top: 3%;
  border-radius: 4px;
}

#border-above-lists {
  display: block;
  width: 80%;
  margin: auto;
  border-top: 0.4px solid black;
  margin-top: 3%;
}

.produce-list {
  width: 30%;
  display: block;
  margin-left: 3%;
}

.produce-list h6 {
  text-align: center;
  font-size: 2.4vw;
  font-family: 'Passion One', cursive;
}

#produce-pic {
  width: 70%;
  display: block;
  border-radius: 4px;
  margin: auto;
  margin-top: 3%;
}

.canned-goods-list {
  width: 30%;
  display: block;
  margin-left: 2%;
}

.canned-goods-list h6 {
  text-align: center;
  font-size: 2.4vw;
  font-family: 'Passion One', cursive;
}

#canned-goods-pic {
  width: 70%;
  display: block;
  border-radius: 4px;
  margin: auto;
  margin-top: 3%;
}

.frozen-list {
  width: 30%;
  display: block;
  margin-left: 2%;
}

.frozen-list h6 {
  text-align: center;
  font-size: 2.4vw;
  font-family: 'Passion One', cursive;
}

#frozen-pic {
  width: 70%;
  display: block;
  border-radius: 4px;
  margin: auto;
  margin-top: 3%;
}

#border-above-prices {
  display: block;
  width: 80%;
  margin: auto;
  border-top: 0.4px solid black;
  margin-top: 5%;
}

.prep-block {
  width: 40%;
  display: block;
  margin-left: 10%;
  margin-top: -1%;
}

.prep-block h3 {
  text-align: center;
  font-size: 2.4vw;
  font-family: 'Passion One', cursive;
}

.prep-block p {
  text-align: left;
  font-size: 1.4vw;
  font-family: 'Barlow', sans-serif;
}

#prep-pic {
  width: 80%;
  display: block;
  border-radius: 4px;
  margin: auto;
  margin-top: 7%;
}

.specials-block {
  width: 40%;
  display: block;
  margin: auto;
  margin-left: 5%;
  margin-top: -1%;
}

.specials-block h3 {
  text-align: center;
  font-size: 2.4vw;
  font-family: 'Passion One', cursive;
}

.specials-block p {
  font-size: 1.4vw;
  font-family: 'Barlow', sans-serif;
}

.flyer-pics-block {
  display: block;
  width: 30%;
  margin: auto;
  margin-left: 5%;
}

#flyer-one-pic {
  display: block;
  width: 80%;
  border-radius: 4px;
  margin: auto;
  margin-top: 24px;
  border: 2px solid #aa5147;
}

#flyer-two-pic {
  display: block;
  width: 80%;
  border-radius: 4px;
  margin: auto;
  margin-top: 24px;
  border: 2px solid #aa5147;
}

#flyer-three-pic {
  display: block;
  width: 80%;
  border-radius: 4px;
  margin: auto;
  margin-top: 24px;
  border: 2px solid #aa5147;
}

.pics-hover:hover {
  opacity: 0.4;
}

@media screen and (max-width: 767px) {
  #content-header {
    margin-top: 4%;
  }
  p {
    font-size: 2.2vw;
  }
  .products {
    width: 80%;
  }
  .products p {
    font-size: 2.2vw;
  }
  .tomatoes-pic {
    width: 40%;
    margin-left: 30%;
    margin-top: 7%;
    margin-bottom: 5%;
  }
  #lists {
    margin-top: -2%;
  }
  .produce-list {
    width: 40%;
    margin-left: 0%;
    margin-top: -2%;
  }
  .produce-list h6 {
    font-size: 3.2vw;
  }
  .canned-goods-list {
    width: 40%;
    margin-left: 30%;
    margin-top: -31%;
  }
  .canned-goods-list h6 {
    font-size: 3.2vw;
  }
  .frozen-list {
    width: 40%;
    margin-left: 60%;
    margin-top: -31%;
    margin-bottom: 1%;
  }
  .frozen-list h6 {
    font-size: 3.2vw;
  }
  .prep-and-specials-blocks h3 {
    font-size: 3.2vw;
  }
  .prep-block {
    width: 47%;
    margin-left: 6%;
    margin-top: -5.5%;
  }
  .prep-block p {
    font-size: 2.2vw;
  }
  .specials-block {
    margin-left: 55%;
    margin-top: -79%;
    margin-bottom: 22%;
  }
  .specials-block p {
    font-size: 2.2vw;
  }
  .flyer-pic-block {
    margin-top: -7%;
  }
}
