.bodyContent {
  display: none;
  height: 100%;
}

body {
  background-color: white;
  margin-bottom: 5%;
  width: 100%;
}


#header-content {
  background-image: url(https://66.media.tumblr.com/6b5b9db79853359a5210767324d38339/tumblr_phy9yi82x21s72wwgo1_1280.jpg);
  background-size: 100%;
  background-repeat: none;
  background-position: 0% 90%;
  opacity: 0.95;
  width: 100%;
  height: 320px;
  background-size: 100%;
  padding-bottom: 2%;
  margin-bottom: 0%;
}

#established {
  font-family: 'Passion One', cursive;
  text-shadow: none;
  margin-top: 164px;
  font-size: 32px;
  color: #aa5147;
  text-align: center;
}

#slogan {
  margin-top:8px;
  text-shadow: none;
  font-family: 'Pacifico', cursive;
  font-size: 36px;
  color: #77bfd2;
  text-align: center;
  padding-left: 16px;
}

.container a {
  text-decoration: none;
  color: black;
}

.container a:hover {
  text-decoration: none;
  color: #77bfd2;
}

.navbar a:hover {
  text-decoration: none;
  color: #77bfd2;
}

.navbar {
  width: 100%;
  display: inline-block;
  font-family: 'Barlow', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  border-radius: 0;
  padding-left: 56px;
  list-style-type: none;
  background: #2e2f30;
  position: relative;
}

.navbar li {
  display: inline-block;
}

.navbar li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 15px;
}

.navbar li:hover {
  background: #2e2f30;
  text-decoration: none;
}

.dropdown {
  position: absolute;
  margin-left: 0;
  padding: 0;
  text-align: right;
  background: #2e2f30;
  display: none;
}

#about-dropdown {
  text-align: right;
}

#products-dropdown {
  margin-left: 3px;
}

#delivery-dropdown {
  margin-left: 80px;
}

#contact-dropdown {
  margin-left: -88px;
}

.navbar ul li {
  display: block;
  background: #2e2f30;
  border-top: solid 0.4px white;
}

.navbar li:hover ul {
  display: block;
}

.navbar li i {
  color: white;
  float: right;
  padding-left: 20px;
}

.search-top {
  float: right;
  padding-right: 56px;
}

.btn:hover {
    background: #77bfd2;
    color: white;
}

.welcome-info {
  float: right;
  display: block;
  font-family: 'Barlow', sans-serif;
  font-size: 16px;
  text-align: center;
  line-height: 8px;
  color: black;
  margin-top: -156px;
  margin-right: 96px;
}

.welcome-info h6 {
  font-family: 'Barlow', sans-serif;
  font-size: 28px;
}

.welcome-info a {
  color: #aa5147;
  text-decoration: none;
}

.welcome-info a:hover {
  text-decoration: none;
  color: #77bfd2;
}

#content-header {
  font-size: 104px;
  margin-left: 148px;
  margin-top: 48px;
  text-align: left;
  font-family: 'Passion One', cursive;
}

.top-paragraph {
  width: 60%;
  display: block;
  margin-left: 128px;
  font-size: 16px;
  font-family: 'Barlow', sans-serif;
}

.top-contact-info {
  display: block;
  width: 35%;
  margin-left: 136px;
  margin-top: 24px;
}

.top-contact-info h3 {
  font-size: 36px;
  font-family: 'Passion One', cursive;
}

.top-contact-info li {
  font-size: 16px;
  font-family: 'Barlow', sans-serif;
}

.top-contact-info a {
  text-decoration: none;
  color: #aa5147;
}

.top-contact-info a:hover {
  text-decoration: none;
  color: #77bfd2;
}

.icons-top {
  border: 2px solid #ddd;
  border-radius: 4px;
  padding: 4px;
  width: 13%;
}

.icons-top:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

#icons-top {
  margin-left: 30px;
}

.below-contact {
  margin-top: 48px;
}

.contact-image {
  width: 70%;
  display: block;
  border-radius: 6px;
  margin-left: 48px;
  margin-top: 24px;
}

#border-above-credit {
  display: block;
  width: 80%;
  margin: auto;
  border-top: 0.4px solid black;
  margin-top: 48px;
}

.credit-application {
  display: block;
  width: 40%;
  margin-left: 96px;
  margin-top: -48px;
}

.credit-application h3 {
  font-size: 36px;
  font-family: 'Passion One', cursive;
}

.credit-application p {
  font-size: 16px;
  font-family: 'Barlow', sans-serif;
}

.credit-application a {
  text-decoration: none;
  color: #77bfd2;
}

.credit-application a:hover {
  text-decoration: none;
  color: #a02c2c;
}

.order-block {
  display: block;
  width: 40%;
  margin-left: 96px;
  margin-top: -12px;
}

.order-block h3 {
  font-size: 36px;
  font-family: 'Passion One', cursive;
}

.order-block p {
  font-size: 16px;
  font-family: 'Barlow', sans-serif;
}

.order-block a {
  text-decoration: none;
  color: #77bfd2;
}

.order-block a:hover {
  text-decoration: none;
  color: #a02c2c;
}

.hiring-block {
  display: block;
  width: 40%;
  margin-left: 72px;
  margin-top: -48px;
}

.hiring-block h3 {
  font-size: 36px;
  font-family: 'Passion One', cursive;
}

.hiring-block p {
  font-size: 16px;
  font-family: 'Barlow', sans-serif;
}

.hiring-block a {
  text-decoration: none;
  color: #77bfd2;
}

.hiring-block a:hover {
  text-decoration: none;
  color: #a02c2c;
}

.credit-app-picture {
  width: 75%;
  display: block;
  border-radius: 6px;
  margin-top: 48px;
  margin-left: 24px;
}

.credit-app-picture:hover {
  opacity: 0.4;
}

.order-picture {
  width: 75%;
  display: block;
  border-radius: 6px;
  margin-top: 24px;
  margin-left: 24px;
}

.order-picture:hover {
  opacity: 0.4;
}

.hiring-picture {
  width: 75%;
  display: block;
  border-radius: 6px;
  margin-top: 24px;
  margin-left: 24px;
}

.hiring-picture:hover {
  opacity: 0.4;
}

#border-above-order {
  display: block;
  width: 80%;
  margin: auto;
  border-top: 0.4px solid black;
  margin-top: 48px;
}

.mailing-list-block {
  display: block;
  width: 40%;
  margin-left: 72px;
  margin-top: -12px;
}

.mailing-list-block h3 {
  font-size: 36px;
  font-family: 'Passion One', cursive;
}

.mailing-list-block p {
  font-size: 16px;
  font-family: 'Barlow', sans-serif;
}

.mailing-list-block label {
  font-size: 16px;
  font-family: 'Barlow', sans-serif;
}

.subscribe-form {
  margin-top: 24px;
  width: 90%;
}

#subscribe-button {
  border: solid 0.6px #a02c2c;
  font-family: 'Barlow', sans-serif;
  font-size: 16px;
}

#subscribe-button:hover {
  border: solid 0.6px #12185b;
}

#border {
  display: block;
  width: 80%;
  margin: auto;
  border-top: 0.4px solid black;
  margin-top: 24px;
}

#border-bottom {
  display: block;
  width: 80%;
  margin: auto;
  border-top: 0.4px solid black;
  margin-top: 96px;
}

#footer-block {
  display: block;
  width: 100%;
  padding-left: 3%;
  margin: auto;
  margin-top: 18px;
  margin-left: 3%;
}

.footer-links h5 {
  font-family: 'Barlow', sans-serif;
  font-size: 28px;
}

.footer-links {
  font-family: 'Barlow', sans-serif;
  font-size: 16px;
  float: left;
  display: block;
  margin-top: 36px;
}

.footer-links a {
  text-decoration: none;
  color: black;
}

.footer-links a:hover {
  text-decoration: none;
  color: #77bfd2;
}

#footer-image {
  display: block;
  width: 100%;
  margin-top: 36px;
  border-radius: 6px;
}

#footer-image:hover {
  opacity: 0.4;
}

.footer-info {
  margin: auto;
  margin-top: 24px;
  display: block;
  font-family: 'Barlow', sans-serif;
  font-size: 16px;
  text-align: center;
  line-height: 8px;
  color: black;
}

.footer-info h6 {
  color: black;
  font-size: 28px;
  font-family: 'Barlow', sans-serif;
}

.footer-info a {
  color: black;
  text-decoration: none;
}

.footer-info a:hover {
  text-decoration: none;
  color: #77bfd2;
}

.bottom-follow {
  display: block;
  margin-top: -24px;
  margin-left: 48px;
}

.bottom-follow h3 {
  text-align: center;
  font-family: 'Passion One', cursive;
  font-size: 32px;
}

.icons-bottom {
  border: 2px solid #ddd;
  border-radius: 4px;
  padding: 4px;
  width: 13%;
}

.icons-bottom:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

#icons-bottom-shift {
  margin-left: 136px;
}

@media(max-width: 768px) {
  nav div {
    display: block;
  }

  ul {
    display: none;
    position: static;
    background: #e3e3e3;
  }

  ul li {
    display: block;
  }
  ul ul {
    position: static;
    background: #e3e3e3;
  }
};
