body {
  background-color: #fff9f7;
  margin-bottom: 5%;
}

#header-content {
  background-image: url(https://66.media.tumblr.com/ad84dd4ece788c7e725aa521925663f5/tumblr_pgrgd3Yp6P1s72wwgo1_1280.jpg);
  background-size: 100%;
  background-repeat: none;
  background-position: 0% 50%;
  opacity: 0.95;
  width: 100%;
  height: 320px;
  background-size: 100%;
  padding-bottom: 2%;
  margin-bottom: 0%;
}

#title {
  text-shadow: 3px 3px black;
  text-align: center;
  font-family: 'Pacifico', cursive;
  font-size: 96px;
  color: white;
  padding-left: 16px;
  margin-top:0px;
  margin-left: 4px;
}

#established {
  font-family: 'Passion One', cursive;
  text-shadow: none;
  font-size: 28px;
  color: white;
  text-align: center;
}

#slogan {
  margin-top:-8px;
  text-shadow: none;
  font-family: 'Pacifico', cursive;
  font-size: 40px;
  color: white;
  text-shadow: 1px 1px black;
  text-align: center;
  padding-left: 16px;
}

#top-right {
  background-color: 	rgb(0,0,0,0.6);
  margin-top: -8px;
  margin-bottom: 1%;
  margin-right: 2%;
  border-radius: 8px;
  float: right;
  padding-bottom: 12px;
}

#header-left {
  margin-top: 39px;
}

.header-info {
  margin: auto;
  display: block;
  font-family: 'Timmana', sans-serif;
  font-size: 16px;
  text-align: center;
  line-height: 8px;
  color: white;
}

.header-info h6 {
  margin-top: 14px;
  font-size: 28px;
  font-family: 'Timmana', sans-serif;
}

.icons-top {
  border: 0.5px solid #ddd;
  border-radius: 4px;
  padding: 4px;
  width: 14%;
}

.icons-top:hover {
  box-shadow: 0 0 5px 4px rgba(0, 140, 186, 0.5);
}

#twitter-icon {
  margin-left: 20%;
}

#yelp-icon {
  margin-right: 15%;
}

a:hover {
  text-decoration: none;
}

.navbar {
  width: 100%;
  display: inline-block;
  font-family: 'Barlow', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  padding-left: 24px;
  list-style-type: none;
  background: #e3e3e3;
  position: relative;
}

ul li {
  display: inline-block;
}

ul li a {
  color: #292929;
  text-decoration: none;
  display: block;
  padding: 15px;
}

ul li:hover {
  background: lightgrey;
  text-decoration: none;
}

.dropdown {
  position: absolute;
  margin-left: 0;
  padding: 0;
  text-align: right;
  background: #e3e3e3;
  display: none;
}

#about-dropdown {
  margin-left: 1px;
  text-align: right;
}

#products-dropdown {
  margin-left: 7px;
}

#delivery-dropdown {
  margin-left: 88px;
}

ul ul li {
  display: block;
  background: #e3e3e3;
}

ul li:hover ul {
  display: block;
}

ul li i {
  color: #292929;
  float: right;
  padding-left: 20px;
}

.bars-cell {
  background: lightgrey;
  color: #292929;
  font-size: 24px;
  padding: 0.6em;
  cursor: pointer;
  display: none;
}

.search-top {
  display: block;
  float: right;
  padding-right: 24px;
}

#mango-image {
  float: right;
  width: 40%;
  border-radius: 6px;
  margin-left: 24px;
  margin-top: 18px;
  margin-bottom: 12px;

}

.opening-slide-up {
  display: none;
}

/* .opening-reveal {
  display: none;
} */

.page-content {
  flex-wrap: wrap;
  font-size: 16px;
}

#content-header {
  font-size: 84px;
  text-align: center;
  font-family: 'Passion One', cursive;
}

#block-quote {
  border-top: 0.5px solid black;
  border-bottom: 0.5px solid black;
  width: 50%;
  margin-top: 14px;
  margin-bottom: 14px;
  padding-top: 12px;
  padding-bottom: 12px;
}

#block-quote p {
  font-size: 14;
  font-weight: bold;
}

#quote {
  font-size: 20px;
  font-family: 'Oleo Script', cursive;
  text-align: left;
}

.col-sm-4 img {
  margin: auto;
  margin-left: 1%;
}

#content-image-boxes {
  display: inline-block;
  width: 100%;
  margin: auto;
}

.col-sm-4 h6 {
  font-size: 24px;
  text-align: center;
  font-family: 'Oleo Script', cursive;
}

.col-sm-4 p {
  font-size: 15px;
  text-align: center;
  margin-top: -4px;
}

#prep-items {
  margin-top: 24px;
  margin-left: 8%;
  display: block;
  width: 90%;
  border-radius: 4px;
}

#public-image {
  display: block;
  width: 100%;
  border-radius: 4px;
  margin-left: 0;
}

#walk-in-object {
  margin-top: -12px;
}

#mailing-list {
  margin-top: 24px;
  display: block;
  width: 90%;
  border-radius: 4px;
}

.picture-links {
  color: black;
  text-decoration: none;
}

.picture-links:hover {
  opacity: 0.4;
  text-decoration: none;
}

.row col-sm-6 {
  display: inline-block;
  margin: auto;
  width: 100%;
}

.col-sm-6 {
  display: block;
  width: 45%;
  margin-left: 3%;
  margin-right: 1%;
  margin-top: 2%;
}

.headers-maps-insta {
  color: black;
  font-size: 32px;
  font-family: 'Passion One', cursive;
}

#map {
  width: 100%;
  height: 600px;
}

#border {
  display: block;
  width: 80%;
  margin: auto;
  border-top: 0.4px solid black;
}

#footer-block {
  display: block;
  width: 100%;
  padding-left: 3%;
  margin: auto;
  margin-top: 36px;
  margin-left: 3%;
}

.footer-links h5 {
  font-family: 'Barlow', sans-serif;
  font-size: 28px;
}

.footer-links {
  font-family: 'Barlow', sans-serif;
  font-size: 16px;
  float: left;
  display: block;
  margin-top: 36px;
}

#footer-image {
  display: block;
  width: 100%;
  margin-top: 36px;
  border-radius: 6px;
}

.footer-info {
  margin: auto;
  display: block;
  font-family: 'Barlow', sans-serif;
  font-size: 16px;
  text-align: center;
  line-height: 8px;
  color: black;
}

.footer-info h6 {
  color: black;
  font-size: 28px;
  font-family: 'Barlow', sans-serif;
}

.bottom-follow {
  display: block;
  padding-right: 10%;;
  float: right;
}

.bottom-follow h3 {
  text-align: center;
  font-family: 'Passion One', cursive;
  font-size: 32px;
}

.icons-bottom {
  border: 2px solid #ddd;
  border-radius: 4px;
  padding: 4px;
  width: 13%;
}

.icons-bottom:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

#icons-bottom-shift {
  margin-left: 30px;
}

#countup {
    text-align: center;
    margin-top: 24px;
}

#countup h3 {
  font-family: 'Passion One', cursive;
  font-size: 32px;
  color: black;
}
#countup p {
    display: inline-block;
    padding: 3px;
    background: #fff9f7;
    margin: 0 0 20px;
    /* border: 1px solid #932322; */
    border-radius: 3px;
    color: #932322;
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    /* min-width: 2.6rem; */
}

@media(max-width: 768px) {
  nav div {
    display: block;
  }

  ul {
    display: none;
    position: static;
    background: #e3e3e3;
  }

  ul li {
    display: block;
  }
  ul ul {
    position: static;
    background: #e3e3e3;
  }
};
