#content-header {
  margin-top: 12px;
}

/*MOBILE STYLING (HIDE)*/
.search-top-mobile {
  display: none;
  margin: auto;
  margin-left: 35%;
}

.mobile-row-1 {
  display: none;
  margin-top: 4%;
}

.mobile-row-2 {
  display: none;
  margin-top: 4%;
}

.mobile-row-3 {
  display: none;
  margin-top: 5%;
}

.mobile-pictures {
  display: block;
  margin: auto;
  width: 90%;
  border-radius: 4px;
}

.mobile-pictures:hover {
  opacity: 0.4;
  text-decoration: none;
}

.mobile-paragraph {
  display: none;
  width: 40%;
  margin: auto;
  margin-left: 7%;
  margin-top: -12px;
}

.mobile-paragraph p {
  font-size: 18px;
  font-family: 'Barlow', sans-serif;
}

.about-us-mobile {
  display: none;
  width: 40%;
  margin: auto;
  margin-left: 36px;
}

.departments-mobile {
  display: none;
  width: 40%;
  margin: auto;
  margin-left: 7%;
}

.products-mobile {
  display: none;
  width: 40%;
  margin: auto;
  margin-left: 36px;
}

.deliveries-ordering-mobile {
  display:none;
  width: 40%;
  margin: auto;
  margin-left: 7%;
}

.contact-employment-mobile {
  display: none;
  width: 40%;
  margin: auto;
  margin-left: 36px;
}


/*DESKTOP STYLING*/
#mango-image {
  float: right;
  width: 40%;
  border-radius: 6px;
  margin-left: 48px;
  margin-top: 18px;
  margin-bottom: 18px;
}

.page-content {
  width: 80%;
  margin-left: 10%;
  flex-wrap: wrap;
  font-size: 16px;
  font-family: 'Barlow', sans-serif;
}

#border-top {
  display: block;
  width: 80%;
  margin: auto;
  border-top: 0.4px solid black;
  margin-top: 3%;
}

#block-quote {
  border-top: 0.5px solid black;
  border-bottom: 0.5px solid black;
  width: 50%;
  margin-top: 14px;
  margin-bottom: 14px;
  padding-top: 12px;
  padding-bottom: 12px;
}

#yelp-author {
  font-size: 20px;
  font-weight: bold;
  font-family: 'Passion One', cursive;
}

#quote {
  font-size: 24px;
  font-family: 'Yellowtail', cursive;
  text-align: left;
}

.mango-caption p {
  float: right;
  text-align: right;
  margin-right: 98px;
  color: white;
  text-decoration: none;
  font-size: 32px;
  font-family: 'Passion One', cursive;
  margin-top: -112px;
}

.mango-object:hover {
  text-decoration: none;
  opacity: 0.4;
}

#border {
  display: block;
  width: 80%;
  margin: auto;
  border-top: 0.4px solid black;
  margin-top: 1%;
}

.col-sm-4 img {
  margin: auto;
  margin-left: 1%;
}

#content-image-boxes {
  display: inline-block;
  width: 100%;
  margin: auto;
}

.col-sm-4 h6 {
  font-size: 24px;
  text-align: center;
  font-family: 'Passion One', cursive;
}

.col-sm-4 p {
  font-size: 16px;
  font-family: 'Barlow', sans-serif;
  text-align: center;
  margin-top: -4px;
}

#hiring-object {
  display: block;
  margin: auto;
  margin-top: -12px;
}

#were-hiring {
  margin-top: 12px;
  margin-left: 8%;
  display: block;
  margin: auto;
  width: 90%;
  border-radius: 4px;
}

#public-image {
  display: block;
  margin: auto;
  width: 100%;
  border-radius: 4px;
  margin-left: 0;
}

#walk-in-object {
  display: block;
  margin: auto;
  margin-top: -12px;
}

#mailing-object {
  display: block;
  margin: auto;
  margin-top: -12px;
}

#mailing-list {
  margin-top: 12px;
  display: block;
  margin: auto;
  width: 90%;
  border-radius: 4px;
}

.picture-links {
  color: black;
  text-decoration: none;
}

#hiring-object:hover {
  opacity: 0.4;
  text-decoration: none;
}

#mailing-object:hover {
  opacity: 0.4;
  text-decoration: none;
}

#walk-in-object:hover {
  opacity: 0.4;
  text-decoration: none;
}

#border-above-map {
  display: block;
  width: 80%;
  margin: auto;
  border-top: 0.4px solid black;
  margin-top: 48px;
}

.row col-sm-6 {
  display: inline-block;
  margin: auto;
  width: 100%;
}

.col-sm-6 {
  display: block;
  width: 45%;
  margin-left: 3%;
  margin-right: 1%;
  margin-top: 24px;
}

.headers-maps-insta {
  color: black;
  font-size: 32px;
  font-family: 'Passion One', cursive;
}

.headers-maps-insta a {
  color: black;
  text-decoration: none;
}

.headers-maps-insta a:hover {
  text-decoration: none;
  color: #77bfd2;
}
#map {
  width: 100%;
  height: 600px;
}

#border-above-footer {
  display: block;
  width: 80%;
  margin: auto;
  border-top: 0.4px solid black;
}

#countup {
  text-align: center;
  margin-top: 24px;
}

#countup h3 {
  font-family: 'Passion One', cursive;
  font-size: 32px;
  color: black;
}
#countup p {
  display: inline-block;
  padding: 3px;
  background: white;
  margin: 0 0 20px;
  border-radius: 3px;
  color: #932322;
  font-family: 'Passion One', cursive;
  font-size: 32px;
}

/* @media screen and (min-width:1441px) {
  .navbar {
    padding-left: 20%;
    padding-right: 20%;
  }
  #header-both{
    width: 80%;
    margin-left: 12%;
  }
  .welcome-info {
    margin-right: 12%;
  }
  .page-content {
    width: 60%;
    margin-left: 22%;
    margin-top: 1%;
  }
  #mango-image {
    width: 25%;
  }
  #border {
    margin-top: 1%;
  }
  #border-above-footer {
    margin-top: 1%;
  }
  .bottom-follow {
    margin-top: -7%;
    margin-left: -2%;
  }
  .icons-bottom {
    width: 7%;
  }
  #icons-bottom-shift {
    margin-left: 40%;
  }
}


@media screen and (min-width:1025px) and (max-width:1440px) {
  .navbar {
    padding-left: 12%;
    padding-right: 8%;
  }
  .bottom-follow {
    margin-top: -5%;
    margin-left: 2%;
  }
  .icons-bottom {
    width: 11%;
  }
  #icons-bottom-shift {
    margin-left: 32%;
  }
} */

/*<-------SMALL SCREEN DESKTOP VERSION-------->*/

/*
 @media screen and (min-width:768px) and (max-width:1024px) {
   #whole-body {
     margin-left: 15%;
   }
   #header-content {
     margin-left: 10%;
   }
  .navbar {
    padding-left: 4%;
    padding-right: 2%;
    width: 120%;
  }
  #about-us {
    margin-left: 7%;
  }
  .search-top {
    padding-right: 4%;
  }
  #content-header {
    margin-left: 72px;
  }
  .bottom-follow {
    margin-top: -2%;
    margin-left: 5%;
  }
  .icons-bottom {
    width: 14%;
  }
  #icons-bottom-shift {
    margin-left: 25%;
  }
}*/

/*<--------MOBILE FRIENDLY--------*/

/* @media screen and (min-width:768px) and (max-width:1024px) {
  #whole-body {
    width: 95%;
  }
  #header-content {
    width: 100%;
    margin: auto;
    margin-left: 0%;
    margin-top: 12px;
  }
  .navbar {
    display: none;
  }
  #header-both {
    margin-top: 5%;
    margin-left: 3%;
  }
  #content-header {
    margin-left: 5%;
  }
  #border-top {
    width: 60%;
    margin-left: 17%;
    margin-top: 3%;
  }
  .welcome-info {
    margin-right: 15%;
  }
  .page-content {
    display: none;
  }
  #border {
    display: none;
  }
  #content-image-boxes {
    display: none;
  }
  #border-above-map {
    display: none;
  }
  .third-row {
    display: none;
  }
  .search-top-mobile {
    display: block;
  }
  .mobile-row-1 {
    display: block;
  }
  .mobile-row-2 {
    display: block;
  }
  .mobile-row-3 {
    display: block;
  }
  .mobile-paragraph {
    display: block;
  }
  .about-us-mobile {
    display: block;
  }
  .departments-mobile {
    display: block;
  }
  .products-mobile {
    display: block;
  }
  .deliveries-ordering-mobile {
    display: block;
  }
  .contact-employment-mobile {
    display: block;
  }
  #border-above-footer {
    width: 60%;
    margin-left: 17%;
    margin-top: -7%;
  }
  #footer-block {
    margin-left: 0px;
  }
  .bottom-follow {
    margin-top: -2%;
    margin-left: 36px;
  }
  #icons-bottom {
    width: 14%;
  }
  #icons-bottom-shift {
    margin-left: 132px;
  }
} */
