#content-header {
  margin-top: 7%;
  margin-left: 15%;
}

#border-top {
  display: block;
  width: 80%;
  margin: auto;
  border-top: 0.05vw solid black;
  margin-top: 3%;
}
/*MAILING LIST FORM*/

.mailing-list-block {
  display: block;
  width: 40%;
  margin-left: 8%;
  margin-top: -1%;
}

.mailing-list-block h3 {
  font-size: 2.4vw;
  font-family: 'Passion One', cursive;
}

.mailing-list-block p {
  font-size: 1.4vw;
  font-family: 'Barlow', sans-serif;
}

.mailing-list-block a {
  text-decoration: none;
  color: #aa5147;
}

.mailing-list-block a:hover {
  text-decoration: none;
  color: #77bfd2;
}

.mailing-list-block label {
  font-size: 1.4vw;
  font-family: 'Barlow', sans-serif;
}

#submit-button {
  border: solid 0.6px #a02c2c;
  font-family: 'Barlow', sans-serif;
  font-size: 1.4vw;
  margin-bottom: 5%;
}

#submit-button:hover {
  border: solid 0.6px #12185b;
}

.subscribe-form {
  margin-top: 3%;
  width: 90%;
  margin-left: 3%;
}

.contact-pic-block {
  display: block;
  width: 50%;
  margin: auto;
}

.contact-image {
  width: 60%;
  display: block;
  border-radius: 4px;
  margin-left: 20%;
}

#mr-rinella {
  margin-top: 10%;
}

#chris-knight {
  margin-top: 10%;
}

#warehouse {
  display: none;
}

.below-contact {
  margin-top: 3%;
}

.mailing-list-send {
  display: block;
  width: 85%;
  margin-left: 10%;
  margin-top: -8%;
}

.mailing-list-send h3 {
  font-size: 2.4vw;
  font-family: 'Passion One', cursive;
}

.mailing-list-send p {
  font-size: 1.4vw;
  font-family: 'Barlow', sans-serif;
  margin-top: -3%;
}

.order-block {
  display: block;
  width: 85%;
  margin-left: 10%;
  margin-top: 10%;
}

.order-block h3 {
  font-size: 2.4vw;
  font-family: 'Passion One', cursive;
}

.order-block p {
  font-size: 1.4vw;
  font-family: 'Barlow', sans-serif;
}

.order-block a {
  text-decoration: none;
  color: #aa5147;
}

.order-block a:hover {
  text-decoration: none;
  color: #77bfd2;
}

.order-picture {
  width: 65%;
  display: block;
  border-radius: 6px;
  margin-left: 9%;
}

.order-picture:hover {
  opacity: 0.4;
}

.order-download {
  display: block;
  margin-top: 5%;
  margin-bottom: 5%;
}

.hiring-block {
  display: block;
  width: 40%;
  margin-left: 7%;
  margin-top: -4%;
}

.hiring-block h3 {
  font-size: 2.4vw;
  font-family: 'Passion One', cursive;
}

.hiring-block p {
  font-size: 1.4vw;
  font-family: 'Barlow', sans-serif;
}

.hiring-block a {
  text-decoration: none;
  color: #aa5147;
}

.hiring-block li {
  font-size: 1.4vw;
  font-family: 'Barlow', sans-serif;
}

.hiring-block a:hover {
  text-decoration: none;
  color: #77bfd2;
}

.hiring-picture {
  width: 65%;
  display: block;
  border-radius: 4px;
  margin-top: 5%;
  margin-left: 5%;
}

.credit-application a {
  text-decoration: none;
  color: #aa5147;
}

.credit-application a:hover {
  text-decoration: none;
  color: #77bfd2;
}

.credit-app-picture {
  width: 40%;
  display: block;
  border-radius: 4px;
  margin-top: 2%;
  margin-left: 25%;
}

.credit-app-picture:hover {
  opacity: 0.4;
}

.credit-application {
  display: block;
  width: 40%;
  margin-left: 10%;
  margin-top: -1%;
}

.credit-application h3 {
  font-size: 2.4vw;
  font-family: 'Passion One', cursive;
}

.credit-application p {
  font-size: 1.4vw;
  font-family: 'Barlow', sans-serif;
}
.border {
  display: block;
  width: 80%;
  margin: auto;
  margin-top: 4%;
  border-top: 0.4px solid black;
}

@media screen and (max-width: 767px) {
  #content-header {
    margin-top: 4%;
  }
  .mailing-list-block {
    width: 50%;
  }
  .mailing-list-block h3 {
    font-size: 3.2vw;
    margin-top: 3%;
  }
  .mailing-list-block p {
    font-size: 2.2vw;
  }
  .subscribe-form {
    line-height: 50%;
    width: 70%;
  }
  .subscribe-form label {
    font-size: 2.2vw;
    letter-spacing: -0.3px;
  }
  .subscribe-form input {
    max-height: 2.4vw;
  }
  #submit-button {
    font-size: 2.2vw;
    padding: 2px;
  }
  .contact-pic-block {
    width: 60%;
    margin-left: 43%;
    margin-top: -125%;
    margin-bottom: 50%;
  }
  #chris-knight {
    margin-top: 15%;
  }

  #warehouse {
    display: block;
    margin-top: 15%;
    margin-bottom: -70%;
  }
  .mailing-list-send {
    width: 60%;
    margin-left: 23%;
  }
  .mailing-list-send h3 {
    font-size: 3.2vw;
    margin-bottom: -2%;
    margin-top: 12%;
  }
  .mailing-list-send p {
    font-size: 2.2vw;
  }
  .order-block {
    width: 60%;
    margin-left: 23%;
  }
  .order-block h3 {
    font-size: 3.2vw;
    margin-top: -5%;
  }
  .order-picture {
    margin-left: 15%;
    margin-top: 15%;
  }
  .hiring-block {
    width: 60%;
    margin-left: 23%;
  }
  .hiring-block h3 {
    font-size: 3.2vw;
    margin-top: 21%;
  }
  .hiring-block p {
    font-size: 2.2vw;
  }
  .hiring-block li {
    font-size: 2.2vw;
  }
  .hiring-picture {
    margin-left: 15%;
    margin-top: 15%;
    margin-bottom: 3%;
  }
  .credit-application {
    width: 60%;
    margin-left: 23%;
  }
  .credit-application h3 {
    font-size: 3.2vw;
  }
  .credit-application p {
    font-size: 2.2vw;
  }
  .credit-app-picture {
    width: 35%;
    margin-top: 5%;
    margin-left: 33%;
    margin-bottom: 3%;
  }
}

@media screen and (min-width: 320px) and (max-width: 374px) {
  .contact-pic-block {
    margin-top: -135%;
    margin-bottom: 60%;
  }
}
