#border {
  display: block;
  width: 80%;
  margin: auto;
  border-top: 0.4px solid black;
  margin-top: 1%;
}

.products {
  display: block;
  width: 40%;
  margin: auto;
  margin-left: 72px;
}

.products h3 {
  text-align: center;
  font-size: 36px;
  font-family: 'Passion One', cursive;
}

.products p {
  font-size: 16px;
  font-family: 'Barlow', sans-serif;
}

.products a {
  text-decoration: none;
  color: #aa5147;
}

.products a:hover {
  text-decoration: none;
  color: #77bfd2;
}

.tomatoes-pic {
  width: 90%;
  display: block;
  margin: auto;
  margin-left: 72px;
  margin-top: 3%;
  border-radius: 4px;
}

#border-above-lists {
  display: block;
  width: 80%;
  margin: auto;
  border-top: 0.4px solid black;
  margin-top: 5%;
}

/* .produce-list {
  width: 30%;
  display: block;
  margin-left: 40px;
}

.produce-list h6 {
  text-align: center;
  font-size: 28px;
  font-family: 'Passion One', cursive;
}

#produce-pic {
  width: 80%;
  display: block;
  border-radius: 4px;
  margin: auto;
  margin-top: 24px;
} */

.canned-goods-list {
  width: 40%;
  display: block;
  margin-left: 72px;
}

.canned-goods-list h6 {
  text-align: center;
  font-size: 28px;
  font-family: 'Passion One', cursive;
}

#canned-goods-pic {
  width: 80%;
  display: block;
  border-radius: 4px;
  margin: auto;
  margin-top: 24px;
}

.frozen-list {
  width: 40%;
  display: block;
  margin-left: 48px;
}

.frozen-list h6 {
  text-align: center;
  font-size: 28px;
  font-family: 'Passion One', cursive;
}

#frozen-pic {
  width: 80%;
  display: block;
  border-radius: 4px;
  margin: auto;
  margin-top: 24px;
}

#border-above-prices {
  display: block;
  width: 80%;
  margin: auto;
  border-top: 0.4px solid black;
  margin-top: 5%;
}

.price-block {
  width: 40%;
  display: block;
  margin-left: 72px;
}

.price-block h3 {
  text-align: center;
  font-size: 28px;
  font-family: 'Passion One', cursive;
}

.price-block p {
  font-size: 16px;
  font-family: 'Barlow', sans-serif;
}

.price-block a {
  text-decoration: none;
  color: #aa5147;
}

.price-block a:hover {
  text-decoration: none;
  color: #77bfd2;
}

#prices-pic {
  width: 80%;
  display: block;
  border-radius: 4px;
  margin: auto;
  margin-top: 24px;
  border: 2px solid #aa5147;
}

.prep-block {
  width: 40%;
  display: block;
  margin-left: 48px;
}

.prep-block h3 {
  text-align: center;
  font-size: 28px;
  font-family: 'Passion One', cursive;
}

.prep-block p {
  text-align: left;
  font-size: 16px;
  font-family: 'Barlow', sans-serif;
}

#prep-pic {
  width: 80%;
  display: block;
  border-radius: 4px;
  margin: auto;
  margin-top: 24px;
}

#border-above-specials {
  display: block;
  width: 80%;
  margin: auto;
  border-top: 0.4px solid black;
  margin-top: 5%;
}

.specials-block {
  width: 40%;
  display: block;
  margin: auto;
}

.specials-block h3 {
  text-align: center;
  font-size: 28px;
  font-family: 'Passion One', cursive;
}

.specials-block p {
  font-size: 16px;
  font-family: 'Barlow', sans-serif;
}

.flyer-one-block {
  display: block;
  width: 30%;
  margin: auto;
  margin-left: 48px;
}

#flyer-one-pic {
  display: block;
  width: 80%;
  border-radius: 4px;
  margin: auto;
  margin-top: 24px;
  border: 2px solid #aa5147;
}

.flyer-two-block {
  display: block;
  width: 30%;
  margin: auto;
}

#flyer-two-pic {
  display: block;
  width: 80%;
  border-radius: 4px;
  margin: auto;
  margin-top: 24px;
  border: 2px solid #aa5147;
}

.flyer-three-block {
  display: block;
  width: 30%;
  margin: auto;
}

#flyer-three-pic {
  display: block;
  width: 80%;
  border-radius: 4px;
  margin: auto;
  margin-top: 24px;
  border: 2px solid #aa5147;
}

.pics-hover:hover {
  opacity: 0.4;
}


@media screen and (min-width:1441px) {
  #header-image{
    width: 60%;
    margin-top: 36px;
    margin-left: 4%;
  }
  #header-both {
    margin-left: 8%;
  }
  #border-top {

  }
  .welcome-info {
    margin-right: 10%;
    margin-top: -372px;
    margin-bottom: 72px;
  }
  .welcome-info h6 {
    font-size: 56px;
  }
  .welcome-info p {
    font-size: 32px;
    line-height: 0.9;
  }
  .navbar {
    padding-left: 20%;
    padding-right: 20%;
  }
  .navbar li {
    font-size: 20px;
  }
  #home {
    margin-left: -24px;
  }
  #content-header {
    font-size: 172px;
    margin-left: 144px;
    margin-top: 48px;
  }
  .top-follow {
    margin-top: 48px;
    margin-left: 256px;
  }
  .top-follow h3 {
    font-size: 56px;
  }
  .icons-top {
    width: 10%;
  }
  #instagram-top {
    margin-left: 256px;
  }
  #whole-body {
    margin-left: 10%;
  }
  .products {
    width: 30%;
    font-size: 24px;
    margin-left: 15%;
    margin-top: 3%;
  }
  .products p {
    font-size: 24px;
  }
  .tomatoes-pic {
    width: 75%;
    margin-left: 15%;
    margin-top: 48px;
  }
  .canned-goods-list h6 {
    font-size: 48px;
  }
  .canned-goods-list {
    margin-left: 9%;
  }
  .frozen-list h6 {
    font-size: 48px;
  }
  .price-block h3 {
    font-size: 48px;
  }
  .price-block p {
    font-size: 32px;
  }
  .price-block {
    margin-left: 9%;
  }
  .prep-block h3 {
    font-size: 48px;
  }
  .prep-block p {
    font-size: 32px;
  }
  .specials-block h3 {
    font-size: 48px;
  }
  .specials-block p {
    font-size: 32px;
  }
  .flyer-one-block {
    margin-left: 5%;
  }
  #border {
    margin-top: 3%;
  }
  #border-above-footer {
    margin-top: 1%;
  }
  #footer-block {
    margin-left: 3%;
    margin-top: 3%;
  }
  .footer-links h5 {
    font-size: 48px;
  }
  .footer-links p {
    font-size: 32px;
  }
  .bottom-follow {
    margin-top: -4%;
  }
  .bottom-follow h3 {
    font-size: 48px;
  }
  .icons-bottom {
    width: 7%;
  }
  #instagram-bottom {
    margin-left: 436px;
  }
  .footer-info {
    margin-top: 10%;
  }
  .footer-info h6 {
    font-size: 48px;
  }
  .footer-info p {
    font-size: 32px;
    line-height: 0.9;
  }
}


@media screen and (min-width:1025px) and (max-width:1440px) {
  #header-image {
    margin-top: 24px;
    margin-left: -24px;
  }
  .welcome-info h6 {
    font-size: 38px;
  }
  .welcome-info p {
    font-size: 22px;
    line-height: 0.9;
  }
  .welcome-info {
    margin-top: -264px;
    margin-right: 48px;
  }
  .navbar {
    font-size: 18px;
    padding-left: 10%;
    padding-right: 8%;
  }
  #content-header {
    font-size: 132px;
    margin-left: 56px;
    margin-top: 24px;
  }
  .top-follow h3 {
    font-size: 42px;
  }
  .top-follow {
    margin-top: 0px;
    margin-left: 96px;
  }
  #instagram-top {
    margin-left: 108px
  }
  #whole-body {
    margin-left: 4%;
  }
  .products {
    width: 40%;
  }
  .products p {
    font-size: 18px;
    margin-top: 24px;
  }
  .tomatoes-pic {
    margin-top: 5%;
  }
  .frozen-list h6 {
    font-size: 38px;
  }
  .canned-goods-list h6 {
    font-size: 38px;
  }
  .price-block h3 {
    font-size: 38px;
  }
  .prep-block h3 {
    font-size: 38px;
  }
  .specials-block h3 {
    font-size: 38px;
  }
  .price-block p {
    font-size: 18px;
  }
  .prep-block p {
    font-size: 18px;
  }
  .specials-block p {
    font-size: 18px;
  }
  #border-above-footer {
    margin-top: 1%;
  }
  #footer-block {
    margin-top: 12px;
    margin-left: 24px;
  }
  .footer-links h5 {
    font-size: 36px;
  }
  .footer-links p {
    font-size: 24px;
  }
  .rinella-footer-pic {
    margin-left: 48px;
  }
  .footer-info {
    margin-left: 48px;
  }
  .footer-info h6 {
    font-size: 36px;
  }
  .footer-info p {
    font-size: 22px;
    line-height: 0.9;
  }
  .bottom-follow h3 {
    font-size: 36px;
  }
  .bottom-follow {
    margin-top: 2%;
    margin-left: 3%;
  }
  .icons-bottom {
    width: 11%;
  }
  #instagram-bottom {
    margin-left: 204px;
  }
}


@media screen and (min-width:768px) and (max-width:1024px) {
  #whole-body {
    margin-left: 10%;
  }
  #header-image {
    margin-left: 36px;
  }
  .welcome-info {
    margin-right: 16px;
    margin-top: -186px;
  }
  #home {
    margin-left: 36px;
  }
 .search-top {
   padding-right: 2px;
 }
 #content-header {
   font-size: 108px;
   margin-left: 6px;
   margin-top: 24px;
 }
 .top-follow {
   margin-top: -16px;
 }
 #instagram-top {
   margin-left: 80px;
 }
 #border {
   margin-top: 2%;
 }
 #border-bottom {
   margin-bottom: 5%;
 }
 #footer-image {
   margin-top:-12px;
 }
 .footer-links h5 {
   margin-top: -24px;
 }
 .bottom-follow {
   margin-top: 3%;
   margin-left: 4%;
 }
 .icons-bottom {
   width: 14%;
 }
 #instagram-bottom {
   margin-left: 108px;
 }
}
