#content-header {
  margin-top: 7%;
  margin-left: 15%;
}


#border-top {
  display: block;
  width: 80%;
  margin: auto;
  border-top: 0.05vw solid black;
  margin-top: 3%;
}

.departments-picture {
  width: 50%;
  margin: auto;
  display: block;
  border-radius: 4px;
  margin-top: 3%;
}

#border-below-pic {
  display: block;
  width: 80%;
  margin: auto;
  border-top: 0.05vw solid black;
  margin-top: 5%;
}

.departments-text a {
  text-decoration: none;
  color: #aa5147;
}

.departments-text a:hover {
  text-decoration: none;
  color: #77bfd2;
}

.management {
  width: 50%;
  margin-left: 12%;
}

.management h3 {
  font-size: 2.4vw;
  font-family: 'Passion One', cursive;
}

.management p {
  font-size: 1.4vw;
  font-family: 'Barlow', sans-serif;
  line-height: 80%;
}

.note {
  font-size: 1.2vw;
  color: #a02c2c;
}

.sales {
  width: 30%;
  margin-left: 2%;
}

.sales h3 {
  font-size: 2.4vw;
  font-family: 'Passion One', cursive;
}

.sales p {
  font-size: 1.4vw;
  font-family: 'Barlow', sans-serif;
  line-height: 80%;
}

.other-department {
  width: 40%;
  display: block;
  margin: auto;
  margin-left: 12%;
  margin-top: 3%;
}

.other-department h3 {
  font-size: 2.4vw;
  font-family: 'Passion One', cursive;
}

.other-department p {
  font-size: 1.4vw;
  font-family: 'Barlow', sans-serif;
  line-height: 80%;
}

.fourth-block {
  width: 40%;
  display: block;
}

.second-department-pic {
  width: 60%;
  border-radius: 4px;
  margin-top: 8%;
  margin-left: 18%;
}

@media screen and (min-width: 1441px) {
  .management p {
    line-height: 120%;
  }
  .sales p {
    line-height: 120%;
  }
  .other-department p {
    line-height: 120%;
  }
}

@media screen and (max-width: 767px) {
  .management {
    margin-left: 25%;
  }
  .management h3 {
    margin-left: 35%;
  }
  .sales {
    margin-left: 35%;
  }
  .other-department {
    margin-left: 25%;
  }
}

@media and (max-width: 767px)
