body {
  background-color: white;
  margin-bottom: 5%;
}

p {
  font-size: 16px;
  font-family: 'Barlow', sans-serif;
}

#whole-body {
  width: 90%;
  margin-left: 2%;
}

#header-both {
  display: block;
}

#header-image {
  width: 100%;
  display: block;
}

#header-content {
  display: block;
  width: 100%;
  margin: auto;
  margin-left: 2%;
}

.container a {
  text-decoration: none;
  color: black;
}

.container a:hover {
  color: #77bfd2;
}

nav a:hover {
  text-decoration: none;
  color: #77bfd2;
}
.navbar {
  width: 110%;
  display: inline-block;
  font-family: 'Barlow', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  border-radius: 0;
  list-style-type: none;
  background: #2e2f30;
  position: relative;
}

#about-us {
  margin-left: 24px;
}

ul li {
  display: inline-block;
}

ul li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 15px;
}

ul li:hover {
  background: #2e2f30;
  text-decoration: none;
}

.dropdown {
  position: absolute;
  margin-left: 0;
  padding: 0;
  text-align: right;
  background: #2e2f30;
  display: none;
}

#about-dropdown {
  text-align: right;
  margin-left: -12px;
}

#products-dropdown {
  margin-left: -6px;
}

#delivery-dropdown {
  margin-left: 70px;
}

#contact-dropdown {
  margin-left: -94px;
}

ul ul li {
  display: block;
  background: #2e2f30;
  border-top: solid 0.4px white;
}

ul li:hover ul {
  display: block;
}

ul li i {
  color: white;
  float: right;
  padding-left: 20px;
}

.search-top {
  display: block;
  float: right;
  padding-right: 96px;
  margin-right: 48px;
}

.btn:hover {
    background: #77bfd2;
    color: white;
}

#content-header {
  font-size: 104px;
  margin-left: 172px;
  margin-top: 48px;
  text-align: left;
  font-family: 'Passion One', cursive;
}

.welcome-info {
  float: right;
  display: block;
  font-family: 'Barlow', sans-serif;
  font-size: 16px;
  text-align: center;
  line-height: 8px;
  color: black;
  margin-top: -156px;
  margin-right: 96px;
}

.welcome-info h6 {
  font-family: 'Barlow', sans-serif;
  font-size: 28px;
}

.welcome-info a {
  color: #aa5147;
  text-decoration: none;
}

.welcome-info a:hover {
  text-decoration: none;
  color: #77bfd2;
}

.top-paragraph {
  width: 60%;
  display: block;
  margin-left: 128px;
  font-size: 16px;
  font-family: 'Barlow', sans-serif;
}

.top-contact-info {
  display: block;
  width: 35%;
  margin-left: 136px;
  margin-top: 24px;
}

.top-contact-info h3 {
  font-size: 36px;
  font-family: 'Passion One', cursive;
}

.top-contact-info li {
  font-size: 16px;
  font-family: 'Barlow', sans-serif;
}

.top-contact-info a {
  text-decoration: none;
  color: #aa5147;
}

.top-contact-info a:hover {
  text-decoration: none;
  color: #77bfd2;
}

.icons-top {
  border: 2px solid #ddd;
  border-radius: 4px;
  padding: 4px;
  width: 13%;
}

.icons-top:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

#icons-top {
  margin-left: 30px;
}

.below-contact {
  margin-top: 48px;
}

.contact-image {
  width: 70%;
  display: block;
  border-radius: 6px;
  margin-left: 48px;
  margin-top: 24px;
}

#border-above-credit {
  display: block;
  width: 80%;
  margin: auto;
  border-top: 0.4px solid black;
  margin-top: 48px;
}

.credit-application {
  display: block;
  width: 40%;
  margin-left: 96px;
  margin-top: -48px;
}

.credit-application h3 {
  font-size: 36px;
  font-family: 'Passion One', cursive;
}

.credit-application p {
  font-size: 16px;
  font-family: 'Barlow', sans-serif;
}

.credit-application a {
  text-decoration: none;
  color: #aa5147;
}

.credit-application a:hover {
  text-decoration: none;
  color: #77bfd2;
}

.credit-app-picture {
  width: 75%;
  display: block;
  border-radius: 6px;
  margin-top: 48px;
  margin-left: 24px;
}

.credit-app-picture:hover {
  opacity: 0.4;
}

.hiring-block {
  display: block;
  width: 40%;
  margin-left: 72px;
  margin-top: -48px;
}

.hiring-block h3 {
  font-size: 36px;
  font-family: 'Passion One', cursive;
}

.hiring-block p {
  font-size: 16px;
  font-family: 'Barlow', sans-serif;
}

.hiring-block a {
  text-decoration: none;
  color: #aa5147;
}

.hiring-block li {
  font-size: 16px;
  font-family: 'Barlow', sans-serif;
}

.hiring-block a:hover {
  text-decoration: none;
  color: #77bfd2;
}

.hiring-picture {
  width: 75%;
  display: block;
  border-radius: 6px;
  margin-top: 24px;
  margin-left: 24px;
}

.hiring-picture:hover {
  opacity: 0.4;
}

#border-above-order {
  display: block;
  width: 80%;
  margin: auto;
  border-top: 0.4px solid black;
  margin-top: 48px;
}

.order-block {
  display: block;
  width: 40%;
  margin-left: 96px;
  margin-top: -12px;
}

.order-block h3 {
  font-size: 36px;
  font-family: 'Passion One', cursive;
}

.order-block p {
  font-size: 16px;
  font-family: 'Barlow', sans-serif;
}

.order-block a {
  text-decoration: none;
  color: #aa5147;
}

.order-block a:hover {
  text-decoration: none;
  color: #77bfd2;
}

.order-picture {
  width: 75%;
  display: block;
  border-radius: 6px;
  margin-top: 24px;
  margin-left: 24px;
}

.order-picture:hover {
  opacity: 0.4;
}

.mailing-list-send {
  display: block;
  width: 40%;
  margin-left: 72px;
  margin-top: -12px;
}

.mailing-list-send h3 {
  font-size: 36px;
  font-family: 'Passion One', cursive;
}

.mailing-list-send p {
  font-size: 16px;
  font-family: 'Barlow', sans-serif;
}

.mailing-list-send a {
  text-decoration: none;
  color: #aa5147;
}

.mailing-list-send a:hover{
  text-decoration: none;
  color: #77bfd2;
}

.mailing-picture {
  width: 75%;
  display: block;
  border-radius: 6px;
  margin-top: 24px;
  margin-left: 24px;
}

.mailing-picture:hover {
  opacity: 0.4;
}
/* .mailing-list-block {
  display: block;
  width: 40%;
  margin-left: 72px;
  margin-top: -12px;
}

.mailing-list-block h3 {
  font-size: 36px;
  font-family: 'Passion One', cursive;
}

.mailing-list-block p {
  font-size: 16px;
  font-family: 'Barlow', sans-serif;
}

.mailing-list-block label {
  font-size: 16px;
  font-family: 'Barlow', sans-serif;
}

.subscribe-form {
  margin-top: 24px;
  width: 90%;
  margin-left: 24px;
}

#subscribe-button {
  border: solid 0.6px #a02c2c;
  font-family: 'Barlow', sans-serif;
  font-size: 16px;
}

#subscribe-button:hover {
  border: solid 0.6px #12185b;
} */

#border {
  display: block;
  width: 80%;
  margin: auto;
  border-top: 0.4px solid black;
  margin-top: 24px;
}

#border-bottom {
  display: block;
  width: 80%;
  margin: auto;
  border-top: 0.4px solid black;
  margin-top: 96px;
}

#footer-block {
  display: block;
  width: 100%;
  padding-left: 3%;
  margin: auto;
  margin-top: 18px;
}

.footer-links h5 {
  font-family: 'Barlow', sans-serif;
  font-size: 28px;
}

.footer-links {
  font-family: 'Barlow', sans-serif;
  font-size: 16px;
  float: left;
  display: block;
  margin-top: 12px;
}

.footer-links a {
  text-decoration: none;
  color: black;
}

.footer-links a:hover {
  text-decoration: none;
  color: #77bfd2;
}

#footer-links-left {
  margin-left: 48px;
}

#footer-links-right {
  margin-left: -24px;
}

#footer-image {
  display: block;
  width: 100%;
  margin-top: 36px;
  border-radius: 6px;
}

#footer-image:hover {
  opacity: 0.4;
}

.footer-info {
  margin: auto;
  margin-top: 24px;
  display: block;
  font-family: 'Barlow', sans-serif;
  font-size: 16px;
  text-align: center;
  line-height: 8px;
  color: black;
}

.footer-info h6 {
  color: black;
  font-size: 28px;
  font-family: 'Barlow', sans-serif;
}

.footer-info a {
  color: #aa5147;
  text-decoration: none;
}

.footer-info a:hover {
  text-decoration: none;
  color: #77bfd2;
}

.bottom-follow {
  display: block;
  margin-top: -24px;
  margin-left: 48px;
}

.bottom-follow h3 {
  color: #aa5147;
  text-align: center;
  margin-top: 36px;
  font-family: 'Passion One', cursive;
  font-size: 32px;
}

.icons-bottom {
  border: 2px solid #ddd;
  border-radius: 4px;
  padding: 4px;
  width: 12%;
}

.icons-bottom:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

#icons-bottom-shift {
  margin-left: 140px;
}

/* @media screen and (min-width:1440px) {
  .navbar {
    padding-left: 20%;
    padding-right: 20%;
  }
  #header-content {
    margin-left: 33%;
  }
  .bottom-follow {
    margin-top: -7%;
    margin-left: -2%;
  }
  .icons-bottom {
    width: 7%;
  }
  #icons-bottom-shift {
    margin-left: 40%;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .navbar {
    padding-left: 12%;
    padding-right: 8%;
  }
  #header-content {
    margin-left: 13%;
  }
  .bottom-follow {
    margin-top: -5%;
    margin-left: 2%;
  }
  .icons-bottom {
    width: 11%;
  }
  #icons-bottom-shift {
    margin-left: 32%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .navbar {
    padding-left: 8%;
    padding-right: 0.5%;
  }
  #header-content {
    margin-left: 8%;
  }

  .page-content {
    width: 90%;
    margin-left: 5%;
  }
  .bottom-follow {
    margin-top: -2%;
    margin-left: 5%;
  }
  .icons-bottom {
    width: 14%;
  }
  #icons-bottom-shift {
    margin-left: 25%;
  }
} */
