#content-header {
  margin-top: 7%;
  margin-left: 15%;
}

.delivery-top-block {
  width: 40%;
  display: block;
  margin: auto;
  margin-left: 9%;
  margin-top: -1%;
}

.delivery-top-block h3 {
  font-size: 2.4vw;
  font-family: 'Passion One', cursive;
  text-align: center;
}

.delivery-top-block p {
  margin-top: 2%;
  font-size: 1.4vw;
  font-family: 'Barlow', sans-serif;
}

.delivery-top-block a {
  text-decoration: none;
  color: #aa5147;
}

.delivery-top-block a:hover {
  text-decoration: none;
  color: #77bfd2;
}

.deliveries-pic-block {
  width: 40%;
  display: block;
  margin: auto;
  margin-left: 4%;
  margin-top: 8%;
}

.deliveries-pic {
  width: 100%;
  display: block;
  margin: auto;
  border-radius: 4px;
}

.major-cities {
  margin-top: 3%;
  font-size: 1.8vw;
  font-family: 'Passion One', cursive;
}

.cities-list li {
  font-size: 1.4vw;
  font-family: 'Barlow', sans-serif;
}

.cities-list {
  column-count: 2;
  column-gap: 2.4vw;
}

#border {
  display: block;
  width: 80%;
  margin: auto;
  border-top: 0.4px solid black;
  margin-top: 3%;
}

#border-above-map {
  display: block;
  width: 80%;
  margin: auto;
  border-top: 0.4px solid black;
  margin-top: 4%;
}

.map-block {
  width: 40%;
  margin-left: 9%;
  display: block;
}

.map-block h3 {
  text-align: center;
  font-size: 2.4vw;
  font-family: 'Passion One', cursive;
}

.map-block p {
  font-size: 1.4vw;
  font-family: 'Barlow', sans-serif;
}

.walk-in-block {
  width: 40%;
  display: block;
  margin: auto;
  margin-left: 4%;
}

.walk-in-block h3 {
  text-align: center;
  font-size: 2.4vw;
  font-family: 'Passion One', cursive;
}

.walk-in-block h6 {
  font-size: 1.8vw;
  font-family: 'Passion One', cursive;
}

.walk-in-block p {
  font-size: 1.4vw;
  font-family: 'Barlow', sans-serif;
}

.walk-in-block a {
  text-decoration: none;
  color: #aa5147;
}

.walk-in-block a:hover {
  text-decoration: none;
  color: #77bfd2;
}

.hours {
  line-height: 80%;
}

.walk-in-picture {
  width: 90%;
  display: block;
  margin: auto;
  margin-top: 3%;
  border-radius: 4px;
}

@media screen and (max-width: 767px) {
  p {
    font-size: 2.2vw;
  }
  .delivery-top-block {
    width: 50%;
    margin-left: 25%;
  }
  .delivery-top-block h3 {
    font-size: 3.2vw;
    margin-top: -5%;
  }
  .delivery-top-block h4 {
    font-size: 2.7vw;
  }
  .deliveries-pic-block {
    width: 80%;
  }
  .deliveries-pic {
    width: 60%;
    margin-left: 28%;
  }
}
