body {
  background-color: white;
  margin-bottom: 5%;
}

p {
  font-size: 1.4vw;
  font-family: 'Barlow', sans-serif;
}

#whole-body {
  width: 90%;
  margin-left: 5%;
}

#header-both {
  display: block;
  z-index: 9999;
}

#header-image {
  width: 60%;
  float: left;
  display: block;
  margin-top: 3%;
  margin-left: 1%;
}

#header-content {
  display: block;
  width: 100%;
  margin: auto;
}

.welcome-info a {
  text-decoration: none;
  color: black;
}

.welcome-info a:hover {
  color: #77bfd2;
}

nav a:hover {
  text-decoration: none;
  color: #77bfd2;
}
.navbar {
  width: 102%;
  display: inline-block;
  font-family: 'Passion One', cursive;
  font-size: 1.8vw;
  margin: 0;
  padding: 0;
  margin-top: 1%;
  border-radius: 0;
  list-style-type: none;
  background: white;
  position: relative;
  z-index: 1;
}

.navbar li {
  display: inline-block;
}

.navbar a {
  color: black;
  text-decoration: none;
  display: block;
  padding: 1.2vw;
}

.navbar li:hover {
  background: white;
  text-decoration: none;
}

.dropdown {
  position: absolute;
  margin-left: 0;
  padding: 0;
  text-align: right;
  background: white;
  display: none;
}

#about-dropdown {
  text-align: right;
  margin-left: -1.0vw;
}

#products-dropdown {
  margin-left: -0.5vw;
}

#delivery-dropdown {
  margin-left: 6.5vw;
}

#contact-dropdown {
  margin-left: -8.2vw;
}

.navbar ul li {
  display: block;
  background: #e1e7f2;
  border-top: solid 0.4px white;
}

.navbar li:hover ul {
  display: block;
}

.navbar li i {
  color: black;
  float: right;
  padding-left: 1.8vw;
}

/* .search-top {
  display: block;
  float: right;
  padding-right: 8%;
  margin-right: 5%;
} */

.btn:hover {
    background: #77bfd2;
    color: white;
}

#home {
  margin-left: 17%;
}

#content-header {
  font-size: 9.4vw;
  margin-left: 10%;
  margin-top: 10%;
  text-align: left;
  font-family: 'Passion One', cursive;
}

.welcome-info {
  float: right;
  display: block;
  width: 30%;
  font-family: 'Barlow', sans-serif;
  font-size: 1.4vw;
  text-align: center;
  line-height: 75%;
  color: black;
  margin-top: -18%;
  margin-bottom: 1%;
  margin-right: 5%;
}

.welcome-info h6 {
  font-family: 'Passion One', cursive;
  font-size: 2.4vw;
}

.welcome-info a {
  color: #aa5147;
  text-decoration: none;
}

.welcome-info a:hover {
  text-decoration: none;
  color: #77bfd2;
}

.top-follow {
  display: block;
  margin-left: 12%;
}

.top-follow h3 {
  color: #aa5147;
  text-align: center;
  margin-top: 15%;
  font-family: 'Passion One', cursive;
  font-size: 3.0vw;
}

.icons-top {
  border: 2px solid #ddd;
  border-radius: 4px;
  padding: 4px;
  width: 14%;
}

.icons-top:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

#twitter-icon {
  margin-left: 20%;
}

#yelp-icon {
  padding: 1px;
}

#border-bottom {
  display: block;
  width: 80%;
  margin: auto;
  border-top: 0.05vw solid black;
  margin-top: 4%;
}

#footer-block {
  display: block;
  width: 100%;
  padding-left: 2%;
  margin: auto;
  margin-top: -1%;
}

.footer-links h5 {
  font-family: 'Passion One', cursive;
  font-size: 2.4vw;
}

.footer-links {
  font-family: 'Barlow', sans-serif;
  font-size: 1.8vw;
  float: left;
  display: block;
  margin-top: 1%;
}

.footer-links a {
  text-decoration: none;
  color: black;
}

.footer-links a:hover {
  text-decoration: none;
  color: #77bfd2;
}

#footer-links-left {
  margin-left: 4.8%;
}

#footer-links-right {
  margin-left: -2.4%;
}

#footer-image {
  display: block;
  width: 100%;
  margin-top: 3.6%;
  border-radius: 6px;
}

#footer-image:hover {
  opacity: 0.4;
}

.footer-info {
  margin: auto;
  margin-top: 4.8%;
  display: block;
  font-family: 'Barlow', sans-serif;
  font-size: 1.4vw;
  text-align: center;
  line-height: 90%;
  color: black;
}

.footer-info h6 {
  color: black;
  font-size: 2.4vw;
  font-family: 'Passion One', cursive;
}

.footer-info a {
  color: #aa5147;
  text-decoration: none;
}

.footer-info a:hover {
  text-decoration: none;
  color: #77bfd2;
}

#footer-links-right {
  margin-left: 2%;
}

/*This is for social media icons if we put them on the bottom of the page*/

/* .bottom-follow {
  display: block;
  margin-left: 36px;
}

.bottom-follow h3 {
  color: #aa5147;
  text-align: center;
  margin-top: -36px;
  font-family: 'Passion One', cursive;
  font-size: 36px;
} */

/* .icons-bottom {
  border: 2px solid #ddd;
  border-radius: 4px;
  padding: 4px;
  width: 9%;
}

.icons-bottom:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
} */
