#border {
  display: block;
  width: 80%;
  margin: auto;
  border-top: 0.4px solid black;
  margin-top: 3%;
}

.about-us-block {
  width: 70%;
  display: block;
  margin: auto;
  margin-top: 2%;
}

.about-us-block h3 {
  text-align: center;
  font-family: 'Passion One', cursive;
  font-size: 48px;
}

.about-us-block p {
  margin-top: 24px;
  font-size: 16px;
  font-family: 'Barlow', sans-serif;
}

.about-us-pic {
  width: 80%;
  margin: auto;
  display: block;
  margin-top: 24px;
  border-radius: 4px;
}

#border-middle {
  display: block;
  width: 80%;
  margin: auto;
  border-top: 0.4px solid black;
  margin-top: 5%;
}

.about-body-text {
  display: block;
  width: 45%;
  margin-left: 72px;
}

.about-body-text p {
  margin-top: 24px;
  font-size: 16px;
  font-family: 'Barlow', sans-serif;
}

#block-quote {
  border-top: 0.5px solid black;
  border-bottom: 0.5px solid black;
  margin-top: 24px;
  margin-bottom: 18px;
  padding-bottom: 12px;
}

#yelp-author {
  font-size: 18px;
  font-family: 'Barlow', sans-serif;
  font-weight: bolder;
  margin-top: 12px;
}

#quote {
  font-size: 20px;
  font-family: 'Carter One', cursive;
  text-align: left;
}

.meeting-pic {
  width: 90%;
  display: block;
  margin-top: 24px;
  border-radius: 4px;
}

.about-body-pics {
  width: 40%;
  display: block;
  margin-left: 36px;
}

.about-body-pics img {
  width: 90%;
  display: block;
  margin-top: 24px;
  border-radius: 4px;
}

#countup {
  display: block;
  margin-top: 48px;
  text-align: center;
}

#countup h3 {
  font-family: 'Passion One', cursive;
  font-size: 32px;
  color: black;
  margin-top: 48px;
  margin-right: -12px;
}
#countup p {
  display: inline-block;
  padding: 3px;
  background: white;
  margin: 0 0 20px;
  border-radius: 3px;
  color: #932322;
  font-family: 'Passion One', cursive;
  font-size: 32px;
}


/* @media screen and (min-width:1441px) {
  #header-image{
    width: 60%;
    margin-top: 36px;
    margin-left: 4%;
  }
  #header-both {
    margin-left: 8%;
  }
  .welcome-info {
    margin-right: 10%;
    margin-top: -372px;
    margin-bottom: 72px;
  }
  .welcome-info h6 {
    font-size: 56px;
  }
  .welcome-info p {
    font-size: 32px;
    line-height: 0.9;
  }
  .navbar {
    padding-left: 20%;
    padding-right: 20%;
  }
  .navbar li {
    font-size: 20px;
  }
  #home {
    margin-left: -24px;
  }
  #content-header {
    font-size: 172px;
    margin-left: 144px;
    margin-top: 48px;
  }
  .top-follow {
    margin-top: 48px;
    margin-left: 256px;
  }
  .top-follow h3 {
    font-size: 56px;
  }
  .icons-top {
    width: 10%;
  }
  #instagram-top {
    margin-left: 256px;
  }
  #whole-body {
    margin-left: 10%;
  }
  #border-top {
    margin-top: 3%;
  }
  .about-us-block h3 {
    font-size: 48px;
  }
  .about-body-text p {
    font-size: 24px;
  }
  #quote {
    font-size: 28px;
  }
  #yelp-author {
    font-size: 26px;
  }
  #countup h3 {
    font-size: 48px;
  }
  #countup p {
    font-size: 48px;
  }
  #border {
    margin-top: 1%;
  }
  #border-above-footer {
    margin-top: 1%;
  }
  #footer-block {
    margin-left: 3%;
    margin-top: 3%;
  }
  .footer-links h5 {
    font-size: 48px;
  }
  .footer-links p {
    font-size: 32px;
  }
  .bottom-follow {
    margin-top: -4%;
  }
  .bottom-follow h3 {
    font-size: 48px;
  }
  .icons-bottom {
    width: 7%;
  }
  #instagram-bottom {
    margin-left: 436px;
  }
  .footer-info {
    margin-top: 10%;
  }
  .footer-info h6 {
    font-size: 48px;
  }
  .footer-info p {
    font-size: 32px;
    line-height: 0.9;
  }
}


@media screen and (min-width:1025px) and (max-width:1440px) {
  #header-image {
    margin-top: 24px;
    margin-left: -24px;
  }
  .welcome-info h6 {
    font-size: 38px;
  }
  .welcome-info p {
    font-size: 22px;
    line-height: 0.9;
  }
  .welcome-info {
    margin-top: -264px;
    margin-right: 48px;
  }
  .navbar {
    font-size: 18px;
    padding-left: 10%;
    padding-right: 8%;
  }
  #content-header {
    font-size: 132px;
    margin-left: 56px;
    margin-top: 24px;
  }
  .top-follow h3 {
    font-size: 42px;
  }
  .top-follow {
    margin-top: 0px;
    margin-left: 96px;
  }
  #instagram-top {
    margin-left: 108px
  }
  #whole-body {
    margin-left: 5%;
  }
  #border-top {
    margin-top: 2%;
  }
  .about-us-block h3 {
    font-size: 36px;
  }
  .about-body-text p {
    font-size: 18px;
  }
  #yelp-author {
    font-size: 20px;
  }
  #countup h3 {
    font-size: 36px;
  }
  #countup p {
    font-size: 36px;
  }
  #border-above-footer {
    margin-top: 1%;
  }
  #footer-block {
    margin-top: 12px;
    margin-left: 24px;
  }
  .footer-links h5 {
    font-size: 36px;
  }
  .footer-links p {
    font-size: 24px;
  }
  .rinella-footer-pic {
    margin-left: 48px;
  }
  .footer-info {
    margin-left: 48px;
  }
  .footer-info h6 {
    font-size: 36px;
  }
  .footer-info p {
    font-size: 22px;
    line-height: 0.9;
  }
  .bottom-follow h3 {
    font-size: 36px;
  }
  .bottom-follow {
    margin-top: 2%;
    margin-left: 3%;
  }
  .icons-bottom {
    width: 11%;
  }
  #instagram-bottom {
    margin-left: 204px;
  }
}


@media screen and (min-width:768px) and (max-width:1024px) {
  #whole-body {
    margin-left: 10%;
  }
  #header-image {
    margin-left: 36px;
  }
  .welcome-info {
    margin-right: 16px;
    margin-top: -186px;
  }
  #home {
    margin-left: 36px;
  }
 .search-top {
   padding-right: 2px;
 }
 #content-header {
   font-size: 108px;
   margin-left: 6px;
   margin-top: 24px;
 }
 .top-follow {
   margin-top: -16px;
 }
 #border-top {
   margin-top: 2%;
 }
 .departments-text {
   margin-top: -24px;
 }
 #instagram-top {
   margin-left: 80px;
 }
 #border-bottom {
   margin-bottom: 5%;
 }
 #footer-image {
   margin-top:-12px;
 }
 .footer-links h5 {
   margin-top: -24px;
 }
 .bottom-follow {
   margin-top: 3%;
   margin-left: 4%;
 }
 .icons-bottom {
   width: 14%;
 }
 #instagram-bottom {
   margin-left: 108px;
 }
} */
